<%= render 'admin/shared/error_messages', object: f.object %>

<div class="form-group">
	<%= f.label :name, '* 业务员名称', class:'control-label' %>
  <div class="controls">
    <%= f.text_field :name, class:'form-control' %>
  </div>
</div>

<div class="form-group">
	<%= f.label :intro, '业务员介绍', class:'control-label' %>
  <div class="controls">
    <%= f.text_area :intro, :class => 'form-control', rows: 4 %>
  </div>
</div>