<% provide(:title, '修改业务员') %>
<h1 class="page-header">修改业务员</h1>

<div class="bs-example">
<%= form_for @salesman, url: admin_salesman_path(@salesman), method: :patch, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '修改业务员', :class => 'btn btn-success' %>
<% end %>
</div>
