<% provide(:title, "业务员列表") %>
<h1 class="page-header">业务员列表</h1>

<div class="table-responsive">
  <%= link_to '新增业务员', new_admin_salesman_path, class: 'btn btn-success' %>
</div>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: admin_salesmen_path do |f| %>
    <%= f.label :name_cont, '业务员名称' %>
    <%= f.search_field :name_cont, class:'form-control' %> 
    <%= f.submit('搜索', class:'btn btn-success') %>
  <% end %>
</div>

<div class="span9">
  <% if @salesmen.any? %>
    <%= will_paginate %>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th width="20%">业务员名称</th>
          <th width="60%">业务员介绍</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @salesmen.each do |salesman| %>
        <tr>
          <td><%= salesman.name %></td>
          <td><%= salesman.intro %></td>
          <td>
            <%= link_to '修改', edit_admin_salesman_path(salesman), class: 'btn btn-success' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  <% end %>
</div>