<% provide(:title, '新增业务员') %>
<h1 class="page-header">新增业务员</h1>

<div class="bs-example">
<%= form_for @salesman, url: admin_salesmen_path, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '新增业务员', :class => 'btn btn-success' %>
<% end %>
</div>
