<% provide(:title, "任务分发") %>
<h1 class="page-header"><%= @task.title %> - 任务分发</h1>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: admin_task_distributes_path(@task.id) do |f| %>
    <%= f.label :agency_name_cont, '渠道名称' %>
    <%= f.search_field :agency_name_cont, class:'form-control' %> 
    <%= f.submit('搜索', class:'btn btn-success') %>
  <% end %>
  <hr/>
  <ul>
    <li>任务名称：<%= @task.title %></li>
    <li>是否有回调：<%= @task.has_callback ? '是' : '否' %></li>
    <li>日期：<%= @task_amount.create_date.strftime('%Y-%m-%d') %></li>
    <li>今日任务总量：<%= @task_amount.amount %></li>
  </ul>
</div>

<div class="span9">
  <% if @agency_tasks.any? %>
    <%= form_for @task, url: update_task_admin_task_distributes_path(@task), method: :patch, html: {class: 'form'} do |f| %>
      <table class="table table-hover">
        <caption></caption>
        <thead>
          <tr>
            <th>渠道</th>
            <th>单价</th>
            <th>数量</th>
            <th>文档</th>
          </tr>
        </thead>
        <tbody>
          <% @agency_tasks.each do |agency_task| %>
          <tr>
            <td><%= agency_task.agency.name %></td>
            <td>
              <input type="hidden" value="<%= agency_task.id %>" name="task[agency_tasks_attributes][<%= agency_task.id %>][id]" >
              <input type="text" value="<%= agency_task.price %>"  style="width:50px" name="task[agency_tasks_attributes][<%= agency_task.id %>][price]" />
            </td>
            <td>
              <input type="text" value="<%= agency_task.amount %>"  style="width:50px" name="task[agency_tasks_attributes][<%= agency_task.id %>][amount]" class="task_count" />
            </td>
            <!--  -->
            <td><%= link_to '对接文档', doc_url(id: @task.identifier, key: agency_task.agency.key), class: 'btn btn-info', target:'_blank' %>  </td>
          </tr>
          <% end %>
          <tr>
            <td></td>
            <td>总和：</td>
            <td><strong class="task_count_amount"></strong></td>
            <td><strong class="unfinished_amount"></strong></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <p style="text-align:right"><%= f.submit '确认分配', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %></p>
    <% end %>
  <% end %>
</div>

<script>
$(function(){
  function cal_task_count() {
    var today_amount = <%= @task_amount.amount %>;
    var task_count_amount = 0;
    $('.task_count').each(function( index ) {
      task_count_amount += parseInt($(this).val());
    });
    if(task_count_amount > today_amount) {
      task_count_amount = '<span style="color:red">'+task_count_amount+'，已超出今日总量'+today_amount+'</span>';
    }
    $('.task_count_amount').html(task_count_amount);
  }
  cal_task_count();
  $('.task_count').blur(function(){
    cal_task_count();
  });
  

  var clicked_amount = 0;
  var activated_amount = 0;
  var unfinished_amount = 0;
    
  $('.clicked').each(function( index ) {
    clicked_amount += parseInt($(this).html());
  });
  $('.activated').each(function( index ) {
    activated_amount += parseInt($(this).html());
  });
  $('.unfinished').each(function( index ) {
    unfinished_amount += parseInt($(this).html());
  });
  
  $('.clicked_amount').html(clicked_amount);
  $('.activated_amount').html(activated_amount);
  $('.unfinished_amount').html(unfinished_amount);
});
</script>