<%= render 'admin/shared/error_messages', object: f.object %>

<%= f.input :name, input_html: {class:'form-control'} %>

<% if ['edit', 'update'].include? action_name %>
	<label>所属资源</label>
	<input type="text" disabled value="<%= f.object.parent.present? ? f.object.parent.name : f.object.name %>" class="form-control">
<% end %>
<%= f.input :resource_name, input_html: {class:'form-control', disabled: "disabled"} %>

