<% provide(:title, '修改权限') %>

<h1 class="page-header">修改权限</h1>

<div class="bs-example">
<%= simple_form_for @permission, url: admin_permission_path(@permission), method: :patch, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '修改权限', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>
