<% provide(:title, "权限列表") %>
<h1 class="page-header">权限列表</h1>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: admin_permissions_path do |f| %>
    <%= f.label :name_cont, '权限名称' %>
    <%= f.search_field :name_cont, class:'form-control' %> 
    <%= f.label :resource_name_cont, '资源名称' %>
    <%= f.search_field :resource_name_cont, class:'form-control' %> 
    <%= f.label :ancestry_eq, '所属资源' %>
    <%= f.select :ancestry_eq, @ancestry_options, {}, class:'form-control' %>
    <%= f.submit('搜索', class:'btn btn-success') %>
  <% end %>
</div>

<div class="span9">
  <% if @permissions.any? %>
    <%= will_paginate %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="20%">权限名称</th>
          <th width="30%">所属资源</th>
          <th width="30%">资源名称</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @permissions.each do |permission| %>
        <tr>
          <td><%= permission.name %></td>
          <td><%= permission.parent.present? ? permission.parent.name : permission.name %></td>
          <td><%= permission.resource_name %></td>
          <td>
            <%= link_to '修改', edit_admin_permission_path(permission), class: 'btn btn-success' %>
            <!-- <%= link_to '删除', admin_permission_path(permission), class: 'btn btn-danger', data:{confirm: '确定删除吗?'}, method: :delete %> -->
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  <% end %>
</div>
