<% provide(:title, '新增权限') %>

<h1 class="page-header">新增权限</h1>

<div class="bs-example">
<%= simple_form_for @permission, url: admin_permissions_path, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '新增权限', :class => 'btn btn-success' %>
<% end %>
</div>
