<% provide(:title, "数据") %>
<h1 class="page-header">数据</h1>

<div class="table-responsive">
  <%= link_to '导入数据', new_admin_insert_path, class: 'btn btn-success' %>
</div>
<br>
<div class="table-responsive">
  <%= link_to '生成数据', create_data_admin_inserts_path, class: 'btn btn-success','data-disable-with' => '提交中...' %>
</div>
<hr>
