<%= render 'admin/shared/error_messages' ,object: f.object %>
<%= f.input :title, input_html: {class:'form-control'} %>
<%= f.input :description, as: :text, input_html: {class:'form-control'} %>
<%= f.input :domain_name ,input_html: {class:'form-control'} %>
<br>