<% provide(:title, '系统设置') %>
<h1 class="page-header">系统设置</h1>

<div class="bs-example">
<%= simple_form_for @setting, url: admin_setting_path, method: :post, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '更新设置', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>
