<% provide(:title, "控制面板") %>
<h1 class="page-header">控制面板</h1>
<div class="table-responsive">
	<%= link_to '系统设置', admin_setting_path, class: 'btn btn-success' %>
</div>
<hr>
<div class="table-responsive">
	<ul>
		<li>当前帐号：<strong style="color:orange"><%= current_admin.email %></strong></li>
		<li>本次登录IP：<%= current_admin.current_sign_in_ip %></li>
		<li>上次登录IP：<%= current_admin.last_sign_in_ip %></li>
		<li>上次登录时间：<%= current_admin.last_sign_in_at.strftime("%Y-%m-%d %H:%M:%S") %></li>
		<li>登录次数：<%= current_admin.sign_in_count %></li>
	</ul>
</div>
