<%= render 'admin/shared/error_messages', object: f.object %>

<% if ['edit', 'update'].include? action_name %>
<%= f.input :email, disabled: true, input_html: {class:'form-control'} %>
<% else %>
<%= f.input :email, input_html: {class:'form-control'} %>
<% end %>

<% if ['edit', 'update'].include? action_name %>
<%= f.input :username, disabled: true, input_html: {class:'form-control'} %>
<% else %>
<%= f.input :username, input_html: {class:'form-control'} %>
<% end %>

<%= f.input :password, input_html: {class:'form-control'} %>

<% if roles.present? %>
<label>管理员角色</label>
<div class="well">
<%
if params[:role_ids].present? 
  ids = params[:role_ids].map {|id| id.to_i}
elsif @role_ids.present?
	ids = @role_ids.map {|id| id.to_i}
end 
%>

<% roles.each do |role| %>
	<label>
		<input type="checkbox" name=role_ids[] value="<%= role.id %>" <%= "checked" if ids.present? && ids.include?(role.id) %>> <%= role.name %>
	</label>
<% end %>
</div>
<% end %>