<% provide(:title, '修改管理员') %>

<h1 class="page-header">修改管理员</h1>

<div class="bs-example">
<%= simple_form_for @admin, url: admin_employee_path(@admin), method: :patch, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :roles => @roles, :permission_ids => @permission_ids } %>
  <%= f.submit '修改管理员', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>
