<% provide(:title, "管理员列表") %>
<h1 class="page-header">管理员列表</h1>

<div class="table-responsive">
  <%= link_to '新增管理员', new_admin_employee_path, class: 'btn btn-success' %>
</div>

<div class="span9">
  <% if @admins.any? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="20%">用户名</th>
          <th width="30%">邮箱</th>
          <th width="30%">管理员角色</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @admins.each do |admin| %>
        <tr>
          <td><%= admin.username %></td>
          <td><%= admin.email %></td>
          <td> 
            <% if admin.id == 1 %>
              超级管理员
            <% else %>
              <% admin.roles.each do |role| %>
                <%= role.name + " " %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to '修改', edit_admin_employee_path(admin), class: 'btn btn-success' %>
            <%= link_to '删除', admin_employee_path(admin), class: 'btn btn-danger', data:{confirm: '确定删除吗?'}, method: :delete %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
