<% provide(:title, '新增管理员') %>

<h1 class="page-header">新增管理员</h1>

<div class="bs-example">
<%= simple_form_for @admin, url: admin_employees_path, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :roles => @roles } %>
  <%= f.submit '新增管理员', :class => 'btn btn-success' %>
<% end %>
</div>
