<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "select2", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "select2-bootstrap", "data-turbolinks-track" => true %>
  
  <%= stylesheet_link_tag "bootstrap-datetimepicker", "data-turbolinks-track" => true %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "select2", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "select2_locale_zh-CN.js", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "moment", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "moment/zh-cn", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap-datetimepicker", "data-turbolinks-track" => true %> 
<script>
$(document).on("turbolinks:load", function(){
  $('#task_app_id').select2();
  $('#task_channel_id').select2();
  $('#task_channel_id').change(function(event){
    if($(this).val()) {
      var task_id = "<%= @task.id.present? ? "?task_id=#{@task.id}" : "" %>";
      console.log('/admin/channels/'+ $(this).val() +'/templates/selection' + task_id);
      $('#channel_template').load('/admin/channels/'+ $(this).val() +'/templates/selection' + task_id);
    }
  }).trigger('change');
  
  $('#task_start_at').datetimepicker({
    format: "YYYY-MM-DD"
    <% if params[:task] && params[:task][:start_at].present? %>
    ,
    defaultDate: "<%=params[:task][:start_at] %>"
    <% end %>
  });

  $('#task_end_at').datetimepicker({
    format: "YYYY-MM-DD"
    <% if params[:task] && params[:task][:end_at].present? %>
    ,
    defaultDate: "<%= params[:task][:end_at] %>"
    <% end %>
  });
})
</script>
<% end %>

<%= render 'admin/shared/error_messages', object: f.object %>

<%= f.input :title, input_html: {class:'form-control'} %>

<%= f.input :intro, as: :text, input_html: {class:'form-control'} %>

<%= f.input :price, input_html: {class:'form-control'} %>



<%= f.input :click_url, input_html: {class:'form-control'} %>



<%= f.input :app_id, :collection => @app_sections, input_html: {class:'form-control'}, :include_blank => false %>

<%= f.input :channel_id, :collection => @channel_sections, input_html: {class:'form-control'}, :include_blank => false %>

<div id="channel_template">
  
</div>



<div class="form-group" style="position:relative;">
  <%= f.label :start_at, '* 日期范围', class:'control-label' %>
  <div class="controls">
    <%= f.text_field :start_at, class:'form-control', style:'width:40%; display:inline;', placeholder: '请选择开始日期，输入后将无法修改', disabled: (['edit', 'update'].include? action_name) %> - 
    <%= f.text_field :end_at, class:'form-control', style:'width:40%; display:inline;', placeholder: '请选择结束日期' %>
  </div>
</div>


