<% provide(:title, '修改任务') %>
<h1 class="page-header">修改任务</h1>

<div class="bs-example">
<%= simple_form_for @task, url: admin_task_path(@task), method: :patch, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '修改任务', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>
