<% content_for :stylesheet do %>
<%= stylesheet_link_tag "select2", "data-turbolinks-track" => true %>
<%= stylesheet_link_tag "select2-bootstrap", "data-turbolinks-track" => true %>
<% end %>

<% content_for :javascript do %>
<%= javascript_include_tag "select2", "data-turbolinks-track" => true %>
<%= javascript_include_tag "select2_locale_zh-CN.js", "data-turbolinks-track" => true %>
<script>
  $(document).on("turbolinks:load", function(){
    $('#q_channel_id_eq').select2();
    $('#q_app_id_eq').select2();
    $('#q_id_eq').select2();
    $('#task_start_at').datetimepicker({
      format: "YYYY-MM-DD"
      <% if params[:task] && params[:task][:start_at].present? %>
      ,
      defaultDate: "<%=params[:task][:start_at] %>"
      <% end %>
    });

    $('#task_end_at').datetimepicker({
      format: "YYYY-MM-DD"
      <% if params[:task] && params[:task][:end_at].present? %>
      ,
      defaultDate: "<%= params[:task][:end_at] %>"
      <% end %>
    });

  })
</script>
<% end %>

<% provide(:title, "任务列表") %>
<h1 class="page-header">任务列表</h1>

<div class="table-responsive">
  <%= link_to '新增任务', new_admin_task_path, class: 'btn btn-success','data-turbolinks' => false %>
</div>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: admin_tasks_path do |f| %>
  <div style="float:left; width:20%; margin-right:1%;">
    <%= f.select :channel_id_eq, @channel_sections, {}, class:'form-control' %>
  </div>
  <div style="float:left; width:20%; margin-right:1%;">
    <%= f.select :app_id_eq, @app_sections, {}, class:'form-control' %>
  </div>
  <div style="float:left; width:20%; margin-right:1%;">
    <%= f.select :id_eq, @task_sections, {}, class:'form-control' %>
  </div>
  <%= f.submit('搜索', class:'btn btn-success') %>
  <% end %>
</div>

<div class="span9">
  <% if @tasks.any? %>
  <%= will_paginate %>
  <table class="table table-hover">
    <caption></caption>
    <thead>
      <tr>
        <th>任务标题</th>
        <th>任务介绍</th>
        <th>渠道商</th>
        <th>单价</th>
        <th>开始日期</th>
        <th>结束日期</th>
        <th>接入时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.intro %></td>
        <td><%= task.channel.name %></td>
        <td><%= task.price %></td>
        <td><%= task.start_at.strftime '%Y-%m-%d %H:%M:%S' %></td>
        <td><%= task.end_at.strftime '%Y-%m-%d %H:%M:%S' %></td>
        <td><%= task.time  %></td>
        <td data-no-turbolink>
          <%= link_to '查看', admin_task_path(task), class: 'btn btn-info' %>       
          <%= link_to '任务量', admin_task_task_amounts_path(task), class: 'btn btn-success' %>       
          <%= link_to '分发', admin_task_distributes_path(task), class: 'btn btn-success' %>       
          <%= link_to '修改', edit_admin_task_path(task), class: 'btn btn-success','data-turbolinks' => false %>
          <!-- <%= link_to '删除', admin_task_path(task), class: 'btn btn-danger', data:{confirm: '确定删除吗?'}, method: :delete %> -->
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
  <% end %>
</div>
