<% provide(:title, "查看任务") %>
<h1 class="page-header">查看任务 - <%= @task.title %></h1>

<div class="form-group">
  <label class="control-label">任务标题</label>
  <div class="controls">
    <%= @task.title %>
  </div>
</div>

<div class="form-group">
  <label class="control-label">任务介绍</label>
  <div class="controls">
    <%= @task.intro %>
  </div>
</div>

<div class="form-group">
  <label class="control-label">任务价格</label>
  <div class="controls">
    <%= @task.price %>
  </div>
</div>

<div class="form-group">
  <label class="control-label">请求链接</label>
  <div class="controls">
    <%= @task.click_url %>
  </div>
</div>




<!-- 
<div class="form-group">
  <label class="control-label">App</label>
  <div class="controls">
    <%= @task.app.title %>
  </div>
</div> -->

<div class="form-group">
  <label class="control-label">渠道</label>
  <div class="controls">
    <%= @task.channel.name %>
  </div>
</div>

<div class="form-group">
  <label class="control-label">开始日期</label>
  <div class="controls">
    <%= @task.start_at %>
  </div>
</div>

<div class="form-group">
  <label class="control-label">结束日期</label>
  <div class="controls">
    <%= @task.end_at %>
  </div>
</div>


<hr/>
<div class="form-group">
  <div class="controls">
    <table class="table">
      <thead>
        <tr>
          <th>日期</th>
          <th>数量</th>
        </tr>
      </thead>
      <tbody>
        <% @task.task_amounts.each do |task_amount| %>        
        <tr>
          <td><%= task_amount.create_date %></td>
          <td><%= task_amount.amount %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



