<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "bootstrap-datetimepicker", "data-turbolinks-track" => "reload" %>
<% end %>
<%= render 'admin/shared/error_messages', object: f.object %>


<div class="form-group">
	<label for="tasks_file">
	导入cpm <small>（请使用.xlsx格式的文件，文件的第一列为导入的内容。）</small>
	</label>
	<input type="file" name="tasks_file" id="tasks_file" class="form-control">
</div>

