<% provide(:title, "任务量设置") %>

<h1 class="page-header"><%= @task.title %> - 任务量设置</h1>

<div class="bs-example">
  <%= form_for @task, url: update_amount_admin_task_task_amounts_path(@task), method: :patch, html: {class: 'form'} do |f| %>
    <%= f.fields_for :task_amounts do |a| %>
    <div class="form-group">
    	<%= a.label "请设置 #{(a.object.create_date.strftime '%Y-%m-%d')} 的任务量", class:'control-label' %>
      <div class="controls">
        <% if Date.today > a.object.create_date %>
        <%= a.text_field :amount, class:'form-control', disabled: 'disabled:' %>
        <% else %>
        <%= a.text_field :amount, class:'form-control' %>
        <% end %>
      </div>
    </div>
    <% end %>
    
    <%= f.submit '设置任务量', :class => 'btn btn-success' %>
  <% end %>
</div>
