<%= render 'admin/shared/error_messages', object: f.object %>

<% if ["new", "create"].include? action_name %>
<%= f.input :app_store_url, input_html: {class:'form-control'} %>
<% end %>

<% if ["edit", "update"].include? action_name %>


<%= f.input :title, input_html: {class:'form-control'} %>

<%= f.input :image, input_html: {class:'form-control'} %>
<%= image_tag(f.object.image, width: 100) if f.object.image.present? %>

<%= f.input :app_store_url, disabled: true, input_html: {class:'form-control'} %>

<%= f.input :intro, :as => :kindeditor %>

<label>游戏截图</label>
<div id="screenshot_con">
	<%= f.simple_fields_for :screenshots do |s| %>
		<div class="nested_screenshot well">
			<a href="#" class="remove_screenshot" data-confirm="确定删除吗?">删除</a>
		  <%= s.input :image, input_html: {class:'form-control'} %>
		  <%= image_tag(s.object.image, width: 100) if s.object.image.present? %>
	  </div>
	<% end %>
</div>
<a href="#" id="add_screenshot" class="btn btn-info">添加游戏截图</a>
<br><br>




<% content_for :javascript do %>

<script>
	$(document).on("turbolinks:load", function(){

		$(document).on('click', '.remove_screenshot', function(event) {
			var nested_screenshot = $(this).parent(".nested_screenshot");
			var hidden_input = nested_screenshot.next("input");
			var id = hidden_input.val();
			if (id) {
				$.post('/admin/apps/' + <%= f.object.id %> + '/remove_screenshot', {
						utf8:'✓',
      			_method:'PATCH',
      			screenshot_id: id
					}, function(data, textStatus, xhr) {
						if(data["done"]) {
							nested_screenshot.remove();
							hidden_input.remove();
						}else{
							alert('删除失败！');
						}
				});
			} else {
				$(this).parent(".nested_screenshot").remove();
			}
			return false;
		});


		// var count = 1;
		$("#add_screenshot").click(function(event) {
			var num = $('.nested_screenshot').length;
			var place = $('#screenshot_con');
			if (num < 6) {

				var screenshot = '<div class="nested_screenshot well"><a href="#" class="remove_screenshot">删除</a><div class="form-group file optional app_screenshots_image"><label class="file optional control-label" for="app_screenshots_attributes_'+ num +'_image">Image</label><input class="file optional form-control" type="file" name="app[screenshots_attributes]['+ num +'][image]" id="app_screenshots_attributes_'+ num +'_image"></div></div>'

				place.append(screenshot);
				// count++;
			} else {
				alert("最多添加6张图片！");
			};
			return false;
		});
	})

</script>
<% end %>
<% end %>
