<% provide(:title, '修改App') %>

<h1 class="page-header"><%= @app.title %></h1>

<div class="bs-example">
<%= simple_form_for @app, url: admin_app_path(@app),  method: :patch, html: {multipart: true, class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '保存', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>
