<% provide(:title, "App列表") %>
<h1 class="page-header">App列表</h1>

<div class="table-responsive">
  <%= link_to '新增App', new_admin_app_path, class: 'btn btn-success' %>
</div>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: admin_apps_path do |f| %>
    <%= f.label :title_cont, '名称' %>
    <%= f.search_field :title_cont, class:'form-control' %> 
    <%= f.submit('搜索', class:'btn btn-success') %>
  <% end %>
</div>

<div class="span9">
  <% if @apps.any? %>
    <%= will_paginate %>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th>标题</th>
          <th>图标</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @apps.each do |app| %>
        <tr>
          <td><%= app.title %></td>
          <td><%= image_tag(app.image, height: 48) if app.image.present? %></td>
             
          <td>
            <%= link_to "编辑", edit_admin_app_path(app), "data-turbolinks" => "false", class: "btn btn-success" %>
            <%= link_to '删除', admin_app_path(app), class: 'btn btn-danger', data:{confirm: '确定删除吗?'}, method: :delete %>
            
          </td>  
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  <% else %>
  <hr/>
  没有数据。
  <% end %>
</div>

<% content_for :javascript do %>

<script>
  $(document).on("turbolinks:load", function(){

    $('.update-checkin').click(function(event) {
      var that = $(this);
      var id = that.data('id');
      $.post('/admin/apps/' + id + '/update_checkin', {
          utf8:'✓',
          _method:'PATCH'
        }, function(data, textStatus, xhr) {
          if(data["done"]) {
            if (data["is_checkin"]) {
              that.removeClass('btn-danger').addClass('btn-success').html('已启用签到');
            } else {
              that.removeClass('btn-success').addClass('btn-danger').html('未启用签到');
            }
          }else{
            alert('删除失败！');
          }
      });
      return false;
    });

  })

</script>
<% end %>