<% provide(:title, '新增App') %>
<h1 class="page-header">新增App</h1>

<div class="bs-example">
<%= simple_form_for @app, url: admin_apps_path, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '新增App', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>