<% provide(:title, '修改渠道') %>
<h1 class="page-header">修改渠道</h1>

<div class="bs-example">
<%= simple_form_for @agency, url: admin_agency_path(@agency), method: :patch, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '修改渠道', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>
