<% provide(:title, "渠道列表") %>
<h1 class="page-header">渠道列表</h1>

<div class="table-responsive">
  <%= link_to '新增渠道', new_admin_agency_path, class: 'btn btn-success' %>
</div>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: admin_agencies_path do |f| %>
    <%= f.label :name_cont, '渠道名称' %>
    <%= f.search_field :name_cont, class:'form-control' %> 
    <%= f.submit('搜索', class:'btn btn-success') %>
  <% end %>
</div>

<div class="span9">
  <% if @agencies.any? %>
    <%= will_paginate %>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th>渠道名称</th>
          <th>渠道介绍</th>
          <th>密钥</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @agencies.each do |agency| %>
        <tr>
          <td><%= agency.name %></td>
          <td><%= agency.intro %></td>
          <td><%= agency.key %></td>
          <td>
            <%= link_to '修改', edit_admin_agency_path(agency), class: 'btn btn-success' %>
            <%= link_to '删除', admin_agency_path(agency), class: 'btn btn-danger', data:{confirm: '确定删除吗?'}, method: :delete %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  <% end %>
</div>