<% provide(:title, '新增渠道') %>
<h1 class="page-header">新增渠道</h1>

<div class="bs-example">
<%= simple_form_for @agency, url: admin_agencies_path, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '新增渠道', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>
