<div class="container">

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>

<div class="row">
  <% flash.each do |key, value| %>
  <% (key == 'notice' || key == 'alert')? key = 'warning': '' %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
</div>

  <% if request.fullpath == '/admins/sign_in' %>
  <h2 class="form-signin-heading">管理登录</h2>
  <% else %>
  <h2 class="form-signin-heading">VIP登录</h2>
  <% end %>
  
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, '记住我' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "登录", class:'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>

</div>