<%= render 'admin/shared/error_messages', object: f.object %>

<%= f.input :name, input_html: {class:'form-control'} %>
<label>角色权限</label>
<div class="well">
<%  
if params[:ids].present? 
  ids = params[:ids].map {|id| id.to_i}
elsif permission_ids.present?
	ids = permission_ids.map {|id| id.to_i}
end 
%>
	<% permissions.each_with_index do |permission, index| %>
		<div id="permission_<%= index %>">
			<label class="group_controller">
				<input type="checkbox" id="group_<%= index %>"  name="ids[]" value="<%= permission['controller'][0] %>" <%= "checked" if (ids.present? && ids.include?(permission['controller'][0])) %>> <%= permission["controller"][1] %>
			</label>
			<% permission['action'].each do |action| %>
				<label>
					<input type="checkbox" class="group_<%= index %>" name="ids[]" value="<%= action[0] %>" <%= "checked" if (ids.present? && ids.include?(action[0])) %>> <%= action[1] %>
				</label>
			<% end %>
		</div>
	<% end %>
</div>

<script>
$(document).ready(function() {
	$(".group_controller").each(function(index, el) {
		$(this).click(function(event) {
			var input = $(this).children("input");
			var name = input.attr("id");
			if (input.is(":checked")) {
				// if (!$("." + name + ":checked")) {
					$("." + name).each(function(index, el) {
						$(this).prop("checked", true);
					});
				// };
			} else {
				$("." + name).each(function(index, el) {
					$(this).prop("checked", false);
				});
			}
		});
	});
});
</script>
