<% provide(:title, '修改角色') %>

<h1 class="page-header">修改角色</h1>

<div class="bs-example">
<%= simple_form_for @role, url: admin_role_path(@role), method: :patch, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :permissions => @permissions, :permission_ids => @permission_ids } %>
  <%= f.submit '修改角色', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>
