<% provide(:title, "角色列表") %>
<h1 class="page-header">角色列表</h1>

<div class="table-responsive">
  <%= link_to '新增角色', new_admin_role_path, class: 'btn btn-success' %>
</div>

<div class="span9">
  <% if @roles.any? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="30%">角色名称</th>
          <th width="30%">角色权限</th>
          <th width="20%">已关联管理员</th>
          <th width="20%">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td>
            <% role.permissions.each do |permission| %>
              <%= permission.name + " " %>
            <% end %>
          </td>
          <td><%= role.admins.present? ? "是" : "否" %></td> 
          <td>
            <%= link_to '修改', edit_admin_role_path(role), class: 'btn btn-success' %>
            <%= link_to '删除', admin_role_path(role), class: 'btn btn-danger', data:{confirm: '确定删除吗?'}, method: :delete %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
