<% provide(:title, '新增角色') %>

<h1 class="page-header">新增角色</h1>
<div class="bs-example">
<%= simple_form_for @role, url: admin_roles_path, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f, :permissions => @permissions, :permission_ids => @permission_ids } %>
  <%= f.submit '新增角色', :class => 'btn btn-success' %>
<% end %>
</div>
