<% provide(:title, "cpm客户报表") %>
<h1 class="page-header">cpm渠道报表</h1>

<div class="span9">
  <% if @agency_exposures.any? %>
    <%#= will_paginate @agency_exposures %>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <!-- <th>序号</th> -->
          <th>任务标题</th>
          <th>App</th>
          <th>客户</th>
          <th>渠道</th>
          <th>cpm</th>
          <th>任务日期</th>
        </tr>
      </thead>
      <tbody>
        <% @agency_exposures.each do |task| %>
        <tr>
          <!-- <td><%#= task.id - 2 %></td>  -->
          <td><%= task.title %></td> 
          <td><%= task.app %></td> 
          <td><%= task.channel %></td> 
          <td><%= task.agency %></td> 
          <td><%= task.cpm %></td> 
          <td><%= task.start_at %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%#= will_paginate @agency_exposures %>
  <% end %>
</div>