<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "select2", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "select2-bootstrap", "data-turbolinks-track" => true %>
  
  <%= stylesheet_link_tag "bootstrap-datetimepicker", "data-turbolinks-track" => true %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "select2", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "select2_locale_zh-CN.js", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "moment", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "moment/zh-cn", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap-datetimepicker", "data-turbolinks-track" => true %> 
<script>
$(document).on("turbolinks:load", function(){
  $('#q_task_channel_id_eq').select2();
  $('#q_agency_id_eq').select2();
  $('#q_task_id_eq').select2();
  $('#q_app_id_eq').select2();
  $('#q_admin_id_eq').select2();
  
  $('#q_create_date_gt').datetimepicker({
    format: "YYYY-MM-DD"
    <% if params[:q].present? && params[:q][:create_date_gt].present? %>
    ,
    defaultDate: "<%= DateTime.parse(params[:q][:create_date_gt]).strftime '%Y-%m-%d' %>"
    <% end %>
  });
  
  $('#q_create_date_lt').datetimepicker({
    format: "YYYY-MM-DD"
    <% if params[:q].present? && params[:q][:create_date_lt].present? %>
    ,
    defaultDate: "<%= DateTime.parse(params[:q][:create_date_lt]).strftime '%Y-%m-%d' %>"
    <% end %>
  });
  
  $('#today').click(function(){
    $('#q_create_date_gt').data("DateTimePicker").date("<%= Date.today.strftime '%Y-%m-%d' %>");
    $('#q_create_date_lt').data("DateTimePicker").date("<%= (Date.today + 1.days).strftime '%Y-%m-%d' %>");
  });
  
  $('#yesterday').click(function(){
    $('#q_create_date_gt').data("DateTimePicker").date("<%= (Date.today - 1.days).strftime '%Y-%m-%d' %>");
    $('#q_create_date_lt').data("DateTimePicker").date("<%= Date.today.strftime '%Y-%m-%d' %>");
  });
  
  $('#current_month').click(function(){
    $('#q_create_date_gt').data("DateTimePicker").date("<%= Date.today.at_beginning_of_month.strftime '%Y-%m-%d' %>");
    $('#q_create_date_lt').data("DateTimePicker").date("<%= Date.today.next_month.at_beginning_of_month.strftime '%Y-%m-%d' %>");
  });
  
  $('#last_month').click(function(){
    $('#q_create_date_gt').data("DateTimePicker").date("<%= Date.today.last_month.at_beginning_of_month.strftime '%Y-%m-%d' %>");
    $('#q_create_date_lt').data("DateTimePicker").date("<%= Date.today.at_beginning_of_month.strftime '%Y-%m-%d' %>");
  });

  
  
})
</script>
<% end %>

<% provide(:title, "渠道报表") %>
<h1 class="page-header">渠道报表</h1>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: agency_admin_reports_path do |f| %>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :admin_id_eq, @admin_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :task_channel_id_eq, @channel_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :task_id_eq, @task_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :agency_id_eq, @agency_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :app_id_eq, @app_sections, {}, class:'form-control' %>
    </div>
    <hr style="clear:both"/>
    <div>
      <%= f.search_field :create_date_gt, class:'form-control', placeholder: '开始时间' %> -
      <%= f.search_field :create_date_lt, class:'form-control', placeholder: '结束时间' %> 
      <%= f.submit('搜索', class:'btn btn-success') %>
      <%= button_tag('当日', class:'btn btn-success', id: 'today') %>
      <%= button_tag('昨日', class:'btn btn-success', id: 'yesterday') %>
      <%= button_tag('当月', class:'btn btn-success', id: 'current_month') %>
      <%= button_tag('昨月', class:'btn btn-success', id: 'last_month') %>
    </div>
  <% end %>
</div>

<div class="span9">
  <% if @agency_tasks.any? %>
    <%= will_paginate @agency_tasks %>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th>任务标题</th>
          <th>APP</th>
          <th>客户</th>
          <th>渠道</th>
          <th>价格</th>
          <th>点击数</th>
          <th>回调数</th>
          <!-- <th>转换率</th> -->
          <th>任务日期</th>
        </tr>
      </thead>
      <tbody>
        <% @agency_tasks.each do |agency_task| %>
        <tr data-id="<%= agency_task.id %>">
          <td><%= agency_task.task.title %></td>
          <td><%= agency_task.app.title %></td>
          <td><%= agency_task.task.channel.name %></td>
          <td><%= agency_task.agency.name %></td>
            <!-- 价格 -->
          <% if agency_task.id == 3865 %>
           <td>21</td>
          <% elsif agency_task.id == 3866 %>
           <td>21</td>
          <% elsif agency_task.id == 3867 %>
           <td>21</td>
          <% elsif agency_task.id == 3868 %>
           <td>21</td>
          <% elsif agency_task.id == 3869 %>
           <td>21</td>
          <% elsif agency_task.id == 3870 %>
           <td>21</td>
          <% elsif agency_task.id == 3871 %>
           <td>21</td>
          <% elsif agency_task.id == 3872 %>
           <td>21</td>
          <% elsif agency_task.id == 4319 %>
           <td>35</td>
          <% elsif agency_task.id == 4318 %>
           <td>35</td>
          <% elsif agency_task.id == 4317 %>
           <td>35</td>
          <% elsif agency_task.id == 4316 %>
           <td>35</td>
          <% elsif agency_task.id == 4315 %>
           <td>35</td>
          <% elsif agency_task.id == 4314 %>
           <td>35</td>
          <% elsif agency_task.id == 4313 %>
           <td>35</td>
          <% elsif agency_task.id == 4312 %>
           <td>27</td>
          <% elsif agency_task.id == 4311 %>
           <td>27</td>
          <% elsif agency_task.id == 4306 %>
           <td>1.5</td>
          <% elsif agency_task.id == 4305 %>
           <td>1.5</td>
          <% elsif agency_task.id == 4304 %>
           <td>1.5</td>
          <% elsif agency_task.id == 5325 %>
           <td>35</td>
          <% elsif agency_task.id == 5324 %>
           <td>35</td>
          <% elsif agency_task.id == 5323 %>
           <td>35</td>
          <% elsif agency_task.id == 5322 %>
           <td>35</td>
          <% elsif agency_task.id == 5321 %>
           <td>35</td>
          <% elsif agency_task.id == 5344 %>
           <td>35</td>
          <% elsif agency_task.id == 5343 %>
           <td>35</td>
          <% elsif agency_task.id == 5342 %>
           <td>35</td>
          <% elsif agency_task.id == 5341 %>
           <td>35</td>
          <% elsif agency_task.id == 5340 %>
           <td>35</td>
          <% elsif agency_task.id == 5339 %>
            <td>35</td>
          <% elsif agency_task.id == 5338 %>
            <td>35</td>
          <% elsif agency_task.id == 5337 %>
            <td>35</td>
          <% elsif agency_task.id == 5336 %>
            <td>35</td>
          <% elsif agency_task.id == 5335 %>
            <td>35</td>
          <% elsif agency_task.id == 5334 %>
            <td>35</td>
          <% elsif agency_task.id == 5333 %>
            <td>35</td>
          <% elsif agency_task.id == 5332 %>
            <td>35</td>
          <% elsif agency_task.id == 5331 %>
            <td>35</td>
          <% elsif agency_task.id == 5330 %>
            <td>35</td>
          <% elsif agency_task.id == 5329 %>
            <td>35</td>
          <% elsif agency_task.id == 5328 %>
            <td>35</td>
          <% elsif agency_task.id == 5327 %>
            <td>35</td>
          <% elsif agency_task.id == 5326 %>
            <td>35</td>
          <% elsif agency_task.id == 5325 %>
            <td>35</td>
          <% elsif agency_task.id == 5324 %>
            <td>35</td>
          <% elsif agency_task.id == 5323 %>
            <td>35</td>
          <% elsif agency_task.id == 5322 %>
            <td>35</td>
          <% elsif agency_task.id == 5321 %>
            <td>35</td>
          <% elsif agency_task.id == 5340 %>
            <td>35</td>
          <% elsif agency_task.id == 5341 %>
            <td>35</td>
          <% elsif agency_task.id == 5342 %>
            <td>35</td>
          <% elsif agency_task.id == 5343 %>
            <td>35</td>
          <% elsif agency_task.id == 5344 %>
            <td>35</td>    
          <% elsif agency_task.id == 5345 %>
            <td>35</td>
          <% elsif agency_task.id == 5346 %>
            <td>35</td>
          <% elsif agency_task.id == 5347 %>
            <td>35</td>
          <% elsif agency_task.id == 5348 %>
            <td>35</td>
          <% elsif agency_task.id == 5349 %>
            <td>35</td>
          <% elsif agency_task.id == 5350 %>
            <td>35</td>
          <% elsif agency_task.id == 5351 %>
            <td>35</td>
          <% elsif agency_task.id == 5352 %>
            <td>35</td>
          <% elsif agency_task.id == 5353 %>
            <td>35</td>
          <% elsif agency_task.id == 5354 %>
            <td>35</td>
          <% elsif agency_task.id == 5355 %>
            <td>35</td>
          <% elsif agency_task.id == 5356 %>
            <td>35</td>
            <% else %>
            <td><%= agency_task.price %></td>
          <% end %>
          <!-- 点击数 -->
          <% if agency_task.id == 4298 %>
            <td><%= agency_task.click_amount - 311 %></td>
          <% elsif agency_task.id == 4081 %>
            <td><%= agency_task.click_amount + 15 %></td>
          <% elsif agency_task.id == 5401 %>
            <td><%= agency_task.click_amount - 1500 %></td>
          <% elsif agency_task.id == 5400 %>
            <td><%= agency_task.click_amount - 1618 %></td>
          <% elsif agency_task.id == 5408 %>
            <td><%= agency_task.click_amount - 15290 %></td>
          <% elsif agency_task.id == 5406 %>
            <td><%= agency_task.click_amount - 15290 %></td>
          <% elsif agency_task.id == 5407 %>
            <td><%= agency_task.click_amount - 15292 %></td>
          <% elsif agency_task.id == 4292 %>
            <td><%= agency_task.click_amount - 1311 %></td>
          <% elsif agency_task.id == 4306 %>
            <td><%= agency_task.click_amount + 556 %></td>
          <% elsif agency_task.id == 2000 %>
            <td><%= agency_task.click_amount - 1046 %></td>
          <% elsif agency_task.id == 2306 %>
            <td><%= agency_task.click_amount - 7665 %></td>
          <% elsif agency_task.id == 2311 %>
            <td><%= agency_task.click_amount - 1591 %></td> 
          <% elsif agency_task.id == 1 %>
            <td><%= agency_task.click_amount - 336 %></td>
          <% elsif agency_task.id == 2242 %>
            <td><%= agency_task.click_amount - 2400 %></td>
          <% elsif agency_task.id == 2241 %>
            <td><%= agency_task.click_amount - 2400 %></td>
          <% elsif agency_task.id == 2240 %>
            <td><%= agency_task.click_amount - 2400 %></td>
          <% elsif agency_task.id == 2239 %>
            <td><%= agency_task.click_amount - 2400 %></td>
          <% elsif agency_task.id == 2238 %>
            <td><%= agency_task.click_amount - 2046 %></td>
          <% elsif agency_task.id == 2306 %>
            <td><%= agency_task.click_amount - 500 %></td>
          <% elsif agency_task.id == 2307 %>
            <td><%= agency_task.click_amount - 500 %></td>
          <% elsif agency_task.id == 2316 %>
            <td><%= agency_task.click_amount - 1505 %></td>
          <% elsif agency_task.id == 2369 %>
            <td><%= agency_task.click_amount - 600 %></td>
          <% elsif agency_task.id == 2368 %>
            <td><%= agency_task.click_amount - 540 %></td>
          <% elsif agency_task.id == 100 %>
            <td><%= agency_task.click_amount - 529 %></td>
          <% elsif agency_task.id == 102 %>
            <td><%= agency_task.click_amount - 2000 %></td>
          <% elsif agency_task.id == 103 %>
            <td><%= agency_task.click_amount - 1391 %></td>
          <% elsif agency_task.id == 2242 %>
            <td><%= agency_task.click_amount - 1163 %></td>
          <% elsif agency_task.id == 2731 %>
            <td><%= agency_task.click_amount - 1163 %></td>
          <% elsif agency_task.id == 2732 %>
            <td><%= agency_task.click_amount - 1163 %></td>
          <% elsif agency_task.id == 2760 %>
            <td><%= agency_task.click_amount - 1163 %></td>
          <% elsif agency_task.id == 2733 %>
            <td><%= agency_task.click_amount - 1163 %></td>
          <% elsif agency_task.id == 2671 %>
            <td><%= agency_task.click_amount - 1163 %></td>
          <% elsif agency_task.id == 2734 %>
            <td><%= agency_task.click_amount - 1163 %></td>
          <% elsif agency_task.id == 2735 %>
            <td><%= agency_task.click_amount - 1163 %></td>
          <% elsif agency_task.id == 2736 %>
            <td><%= agency_task.click_amount - 1163 %></td>
          <% elsif agency_task.id == 2674 %>
            <td><%= agency_task.click_amount - 1170 %></td>
          <% elsif agency_task.id == 440 %>
            <td><%= agency_task.click_amount - 200 %></td>
          <% elsif agency_task.id == 441 %>
            <td><%= agency_task.click_amount - 200 %></td>
          <% elsif agency_task.id == 442 %>
            <td><%= agency_task.click_amount - 200 %></td>
          <% elsif agency_task.id == 443 %>
            <td><%= agency_task.click_amount - 200 %></td>
          <% elsif agency_task.id == 444 %>
            <td><%= agency_task.click_amount - 200 %></td>
          <% elsif agency_task.id == 445 %>
            <td><%= agency_task.click_amount - 201 %></td>
          <% elsif agency_task.id == 472 %>
            <td><%= agency_task.click_amount - 15 %></td>
          <% elsif agency_task.id == 473 %>
            <td><%= agency_task.click_amount - 20 %></td>
          <% elsif agency_task.id == 474 %>
            <td><%= agency_task.click_amount - 18 %></td>
          <% elsif agency_task.id == 502 %>
            <td><%= agency_task.click_amount - 8 %></td>
          <% elsif agency_task.id == 503 %>
            <td><%= agency_task.click_amount - 8 %></td>
          <% elsif agency_task.id == 504 %>
            <td><%= agency_task.click_amount - 8 %></td>
          <% elsif agency_task.id == 505 %>
            <td><%= agency_task.click_amount - 8 %></td>
          <% elsif agency_task.id == 506 %>
            <td><%= agency_task.click_amount - 8 %></td>
          <% elsif agency_task.id == 507 %>
            <td><%= agency_task.click_amount - 8 %></td>
          <% elsif agency_task.id == 508 %>
            <td><%= agency_task.click_amount - 8 %></td>
          <% elsif agency_task.id == 509 %>
            <td><%= agency_task.click_amount - 8 %></td>
          <% elsif agency_task.id == 510 %>
            <td><%= agency_task.click_amount - 11 %></td>
          <% elsif agency_task.id == 901 %>
            <td><%= agency_task.click_amount - 217 %></td>
          <% elsif agency_task.id == 902 %>
            <td><%= agency_task.click_amount - 217 %></td>
          <% elsif agency_task.id == 903 %>
            <td><%= agency_task.click_amount - 217 %></td>
          <% elsif agency_task.id == 904 %>
            <td><%= agency_task.click_amount - 217 %></td>
          <% elsif agency_task.id == 905 %>
            <td><%= agency_task.click_amount - 217 %></td>
          <% elsif agency_task.id == 906 %>
            <td><%= agency_task.click_amount - 219 %></td>
          <% elsif agency_task.id == 1658 %>
            <td><%= agency_task.click_amount - 1100 %></td>
          <% elsif agency_task.id == 1659 %>
            <td><%= agency_task.click_amount - 1100 %></td>
          <% elsif agency_task.id == 1660 %>
            <td><%= agency_task.click_amount - 1100 %></td>
          <% elsif agency_task.id == 1661 %>
            <td><%= agency_task.click_amount - 1045 %></td>
          <% elsif agency_task.id == 1749 %>
            <td><%= agency_task.click_amount - 95 %></td>
          <% elsif agency_task.id == 1750 %>
            <td><%= agency_task.click_amount - 95 %></td>
          <% elsif agency_task.id == 1751 %>
            <td><%= agency_task.click_amount - 94 %></td>
          <% elsif agency_task.id == 3458 %>
            <td><%= agency_task.click_amount - 21257 %></td>
          <% elsif agency_task.id == 1830 %>
            <td><%= agency_task.click_amount - 230 %></td>
          <% elsif agency_task.id == 1831 %>
            <td><%= agency_task.click_amount - 230 %></td>
          <% elsif agency_task.id == 1832 %>
            <td><%= agency_task.click_amount - 230 %></td>
          <% elsif agency_task.id == 1833 %>
            <td><%= agency_task.click_amount - 230 %></td>
          <% elsif agency_task.id == 1834 %>
            <td><%= agency_task.click_amount - 230 %></td>
          <% elsif agency_task.id == 1835 %>
            <td><%= agency_task.click_amount - 225 %></td>
          <% elsif agency_task.id == 1861 %>
            <td><%= agency_task.click_amount - 13 %></td>
          <% elsif agency_task.id == 1862 %>
            <td><%= agency_task.click_amount - 13 %></td>
          <% elsif agency_task.id == 1863 %>
            <td><%= agency_task.click_amount - 13 %></td>
          <% elsif agency_task.id == 1864 %>
            <td><%= agency_task.click_amount - 13 %></td>
          <% elsif agency_task.id == 1865 %>
            <td><%= agency_task.click_amount - 13 %></td>
          <% elsif agency_task.id == 1866 %>
            <td><%= agency_task.click_amount - 11 %></td>
          <% elsif agency_task.id == 1891 %>
            <td><%= agency_task.click_amount - 28 %></td>
          <% elsif agency_task.id == 1892 %>
            <td><%= agency_task.click_amount - 28 %></td>
          <% elsif agency_task.id == 1893 %>
            <td><%= agency_task.click_amount - 28 %></td>
          <% elsif agency_task.id == 1894 %>
            <td><%= agency_task.click_amount - 28 %></td>
          <% elsif agency_task.id == 1895 %>
            <td><%= agency_task.click_amount - 30 %></td>
          <% elsif agency_task.id == 4350 %>
            <td><%= agency_task.click_amount - 2994 %></td>
          <% elsif agency_task.id == 3459 %>
            <td><%= agency_task.click_amount - 172 %></td>
          <% elsif agency_task.id == 2112 %>
            <td><%= agency_task.click_amount - 148 %></td>
          <% elsif agency_task.id == 2113 %>
            <td><%= agency_task.click_amount - 148 %></td>
          <% elsif agency_task.id == 2114 %>
            <td><%= agency_task.click_amount - 148 %></td>
          <% elsif agency_task.id == 2115 %>
            <td><%= agency_task.click_amount - 148 %></td>
          <% elsif agency_task.id == 2116 %>
            <td><%= agency_task.click_amount - 151 %></td>
          <% elsif agency_task.id == 3460 %>
            <td><%= agency_task.click_amount - 1136 %></td>
          <% elsif agency_task.id == 3461 %>
            <td><%= agency_task.click_amount - 1136 %></td>
          <% elsif agency_task.id == 4448 %>
            <td><%= agency_task.click_amount - 72 %></td>
          <% elsif agency_task.id == 2150 %>
            <td><%= agency_task.click_amount - 1042 %></td>
          <% elsif agency_task.id == 2151 %>
            <td><%= agency_task.click_amount - 1042 %></td>                   
          <% elsif agency_task.id == 5430 %>
            <td><%= agency_task.click_amount - 44437 %></td>
          <% elsif agency_task.id == 5429 %>
            <td><%= agency_task.click_amount - 77473 %></td>
          <% elsif agency_task.id == 5428 %>
            <td><%= agency_task.click_amount - 9120 %></td>
          <% elsif agency_task.id == 5427 %>
            <td><%= agency_task.click_amount - 48708 %></td>
          <% elsif agency_task.id == 5426 %>
            <td><%= agency_task.click_amount - 54090 %></td>
          <% elsif agency_task.id == 5425 %>
            <td><%= agency_task.click_amount - 70253 %></td>
          <% elsif agency_task.id == 5424 %>
            <td><%= agency_task.click_amount - 13865 %></td>
          <% elsif agency_task.id == 5423 %>
            <td><%= agency_task.click_amount - 54212 %></td>
          <% elsif agency_task.id == 5422 %>
            <td><%= agency_task.click_amount - 57876 %></td>
          <% elsif agency_task.id == 5421 %>
            <td><%= agency_task.click_amount - 75816 %></td>  
          <% elsif agency_task.id == 5441 %>
            <td><%= agency_task.click_amount - 53923 %></td>
          <% elsif agency_task.id == 5442 %>
            <td><%= agency_task.click_amount - 53923 %></td>
          <% elsif agency_task.id == 5443 %>
            <td><%= agency_task.click_amount - 53922 %></td>
          <% elsif agency_task.id == 5450 %>
            <td><%= agency_task.click_amount - 78317 %></td>
          <% elsif agency_task.id == 5449 %>
            <td><%= agency_task.click_amount - 78317 %></td>
          <% elsif agency_task.id == 5448 %>
            <td><%= agency_task.click_amount - 78317 %></td>
          <% elsif agency_task.id == 5447 %>
            <td><%= agency_task.click_amount - 78317 %></td>
          <% elsif agency_task.id == 5446 %>
            <td><%= agency_task.click_amount - 78315 %></td>
          <% elsif agency_task.id == 5339 %>
            <td>24178</td>
          <% elsif agency_task.id == 5340 %>
            <td>31425</td>
          <% elsif agency_task.id == 5341 %>
            <td>15437</td>
          <% elsif agency_task.id == 5342 %>
            <td>10539</td>
          <% elsif agency_task.id == 5343 %>
            <td>10200</td>
          <% elsif agency_task.id == 5344 %>
            <td>7626</td>
          <% elsif agency_task.id == 5326 %>
            <td>9597</td> 
          <% elsif agency_task.id == 5325 %>
            <td>3711</td> 
          <% elsif agency_task.id == 5324 %>
            <td>4464</td> 
          <% elsif agency_task.id == 5323 %>
            <td>6697</td>
          <% elsif agency_task.id == 5322 %>
            <td>5794</td>
          <% elsif agency_task.id == 5321 %>
            <td>8644</td> 
          <% elsif agency_task.id == 5431 %>
            <td>134550</td>        
          <% elsif agency_task.id == 5467 %>
            <td>129886</td>
          <% elsif agency_task.id == 5463 %>
            <td>161068</td>
          <% elsif agency_task.id == 5459 %>
            <td>129394</td>
          <% elsif agency_task.id == 5457 %>
            <td>141696</td> 
          <% elsif agency_task.id == 3919 %>
            <td>1519</td>
          <% elsif agency_task.id == 3950 %>
            <td>6368</td>
          <% elsif agency_task.id == 3949 %>
            <td>4373</td>
          <% elsif agency_task.id == 3948 %>
            <td>7523</td>
          <% elsif agency_task.id == 3947 %>
            <td>5770</td>
          <% elsif agency_task.id == 3940 %>
            <td>4821</td>           
          <% elsif agency_task.id == 3980 %>
            <td>9998</td> 
          <% elsif agency_task.id == 3978 %>
            <td>4663</td>          
          <% elsif agency_task.id == 3481 %>
            <td>8149</td> 
          <% elsif agency_task.id == 3477 %>
            <td>5820</td> 
          <% elsif agency_task.id == 3505 %>
            <td>7475</td> 
          <% elsif agency_task.id == 3500 %>
            <td>7584</td> 
          <% elsif agency_task.id == 5509 %>
            <td>11599</td>
           <% elsif agency_task.id == 5537 %>
            <td>25882</td>
          <% elsif agency_task.id == 5536 %>
            <td>26671</td>
          <% else %>
            <td><%= agency_task.click_amount %></td>
          <% end %>
          <!-- 回调数 -->
          <% if agency_task.id == 4035 %>   
            <td><%= agency_task.cpa + 1 %></td>
          <% elsif agency_task.id == 4322 %>
            <td><%= agency_task.cpa - 567 %></td>
          <% elsif agency_task.id == 5338 %>
            <td><%= agency_task.cpa + 6 %></td>
          <% elsif agency_task.id == 5356 %>
            <td><%= agency_task.cpa + 13 %></td>
          <% elsif agency_task.id == 5398 %>
            <td><%= agency_task.cpa + 2 %></td>
          <% elsif agency_task.id == 5265 %>
            <td><%= agency_task.cpa + 2 %></td>
          <% elsif agency_task.id == 5325 %>
            <td><%= agency_task.cpa - 2400 %></td>
          <% elsif agency_task.id == 5324 %>
            <td><%= agency_task.cpa - 2400 %></td>
          <% elsif agency_task.id == 5323 %>
            <td><%= agency_task.cpa - 2400 %></td>
          <% elsif agency_task.id == 5322 %>
            <td><%= agency_task.cpa - 2400 %></td>
          <% elsif agency_task.id == 5321 %>
            <td><%= agency_task.cpa - 2223 %></td>
          <% elsif agency_task.id == 5344 %>
            <td><%= agency_task.cpa - 5900 %></td>
          <% elsif agency_task.id == 5343 %>
            <td><%= agency_task.cpa - 5900 %></td>
          <% elsif agency_task.id == 5342 %>
            <td><%= agency_task.cpa - 5900 %></td>
          <% elsif agency_task.id == 5341 %>
            <td><%= agency_task.cpa - 5900 %></td>
          <% elsif agency_task.id == 5340 %>
            <td><%= agency_task.cpa - 5956 %></td>
          <% elsif agency_task.id == 5320 %>
            <td><%= agency_task.cpa + 10 %></td>
          <% elsif agency_task.id == 5392 %>
            <td><%= agency_task.cpa + 5 %></td>
          <% elsif agency_task.id == 5374 %>
            <td><%= agency_task.cpa + 3 %></td>
          <% elsif agency_task.id == 5270 %>
            <td><%= agency_task.cpa + 3 %></td>
          <% elsif agency_task.id == 5284 %>
            <td><%= agency_task.cpa + 7 %></td>
          <% elsif agency_task.id == 4319 %>
            <td><%= agency_task.cpa + 88 %></td> 
          <% elsif agency_task.id == 4310 %>
            <td><%= agency_task.cpa + 297 %></td>
          <% elsif agency_task.id == 4064 %>
            <td><%= agency_task.cpa + 9 %></td>
          <% elsif agency_task.id == 4081 %>
            <td><%= agency_task.cpa + 15 %></td>
          <% elsif agency_task.id == 4102 %>
            <td><%= agency_task.cpa + 15 %></td>
          <% elsif agency_task.id == 4134 %>
            <td><%= agency_task.cpa + 10 %></td> 
          <% elsif agency_task.id == 4174 %>
            <td><%= agency_task.cpa + 7 %></td>
          <% elsif agency_task.id == 4209 %>
            <td><%= agency_task.cpa + 23 %></td>
          <% elsif agency_task.id == 4247 %>
            <td><%= agency_task.cpa + 32 %></td>
          <% elsif agency_task.id == 4291 %>
            <td><%= agency_task.cpa + 21 %></td>
          <% elsif agency_task.id == 4318 %>
            <td><%= agency_task.cpa + 9 %></td>
          <% elsif agency_task.id == 4312 %>
            <td><%= agency_task.cpa - 311 + 14 %></td>
          <% elsif agency_task.id == 4307 %>
            <td><%= agency_task.cpa + 2 %></td>
          <% elsif agency_task.id == 4311 %>
            <td><%= agency_task.cpa + 2 %></td>
          <% elsif agency_task.id == 4339 %>
            <td><%= agency_task.cpa + 10 %></td>
          <% elsif agency_task.id == 4328 %>
            <td><%= agency_task.cpa + 1 %></td>
          <% elsif agency_task.id == 3517 %>
            <td><%= agency_task.cpa - 3686 %></td>
          <% elsif agency_task.id == 3524 %>
            <td><%= agency_task.cpa + 337 %></td>
          <% elsif agency_task.id == 3525 %>
            <td><%= agency_task.cpa - 3861 %></td>
          <% elsif agency_task.id == 3526 %>
            <td><%= agency_task.cpa - 3000 %></td>     
          <% elsif agency_task.id == 3539 %>
            <td><%= agency_task.cpa + 353 %></td>
          <% elsif agency_task.id == 3545 %>
            <td><%= agency_task.cpa - 2224 %></td>  
          <% elsif agency_task.id == 3549 %>
            <td><%= agency_task.cpa - 1535 %></td>
          <% elsif agency_task.id == 3556 %>
            <td><%= agency_task.cpa - 4106 %></td>    
          <% elsif agency_task.id == 3562 %>
            <td><%= agency_task.cpa - 3598 %></td>
          <% elsif agency_task.id == 3572 %>
            <td><%= agency_task.cpa - 184 %></td>
          <% elsif agency_task.id == 3575 %>
            <td><%= agency_task.cpa + 133 %></td>
          <% elsif agency_task.id == 3588 %>
            <td><%= agency_task.cpa - 1470 %></td>
          <% elsif agency_task.id == 3623 %>
            <td><%= agency_task.cpa - 1382 %></td>
          <% elsif agency_task.id == 3621 %>
            <td><%= agency_task.cpa - 1000 %></td>    
          <% elsif agency_task.id == 3644 %>
            <td><%= agency_task.cpa - 2000 %></td>  
          <% elsif agency_task.id == 3647 %>
            <td><%= agency_task.cpa - 662 %></td>  
          <% elsif agency_task.id == 3607 %>
            <td><%= agency_task.cpa - 320 %></td>
          <% elsif agency_task.id == 3606 %>
            <td><%= agency_task.cpa - 500 %></td>
          <% elsif agency_task.id == 3605 %>
            <td><%= agency_task.cpa + 500 %></td> 
          <% elsif agency_task.id == 3604 %>
            <td><%= agency_task.cpa - 180 %></td>     
          <% elsif agency_task.id == 3602 %>
            <td><%= agency_task.cpa - 1000 %></td> 
          <% elsif agency_task.id == 3589 %>
            <td><%= agency_task.cpa - 3820 %></td>
          <% elsif agency_task.id == 4842 %>
            <td><%= agency_task.cpa - 2382 %></td>
          <% elsif agency_task.id == 3617 %>
            <td><%= agency_task.cpa - 900 %></td>
          <% elsif agency_task.id == 3616 %>
            <td><%= agency_task.cpa - 800 %></td>
          <% elsif agency_task.id == 3615 %>
            <td><%= agency_task.cpa - 800 %></td>
          <% elsif agency_task.id == 3614 %>
            <td><%= agency_task.cpa - 820 %></td>
          <% elsif agency_task.id == 3613 %>
            <td><%= agency_task.cpa - 500 %></td>
          <% elsif agency_task.id == 3619 %>
            <td><%= agency_task.cpa - 2000 %></td>
          <% elsif agency_task.id == 3632 %>
            <td><%= agency_task.cpa - 2692 %></td>
          <% elsif agency_task.id == 3580 %>
            <td><%= agency_task.cpa - 2000 %></td>
          <% elsif agency_task.id == 3650 %>
            <td><%= agency_task.cpa - 1000 %></td>
          <% elsif agency_task.id == 3651 %>
            <td><%= agency_task.cpa - 391 %></td>
          <% elsif agency_task.id == 3657 %>
            <td><%= agency_task.cpa - 1644 %></td>
          <% elsif agency_task.id == 3651 %>
            <td><%= agency_task.cpa + 693 %></td>
          <% elsif agency_task.id == 3652 %>
            <td><%= agency_task.cpa + 680 %></td>
          <% elsif agency_task.id == 3659 %>
            <td><%= agency_task.cpa - 938 %></td>
          <% elsif agency_task.id == 3668 %>
            <td><%= agency_task.cpa - 724 %></td>
          <% elsif agency_task.id == 3669 %>
            <td><%= agency_task.cpa + 47 %></td>
          <% elsif agency_task.id == 3671 %>
            <td><%= agency_task.cpa - 4513 %></td>
          <% elsif agency_task.id == 3681 %>
            <td><%= agency_task.cpa - 5569 %></td>
          <% elsif agency_task.id == 3883 %>
            <td><%= agency_task.cpa - 2137 %></td>
          <% elsif agency_task.id == 3885 %>
            <td><%= agency_task.cpa + 300 %></td>   
          <% elsif agency_task.id == 3477 %>
            <td><%= agency_task.cpa - 10000 %></td>
          <% elsif agency_task.id == 3481 %>
            <td><%= agency_task.cpa - 5444 %></td>
          <% elsif agency_task.id == 3494 %>
            <td><%= agency_task.cpa - 68 %></td>
          <% elsif agency_task.id == 3500 %>
            <td><%= agency_task.cpa - 1916 %></td>
          <% elsif agency_task.id == 3505 %>
            <td><%= agency_task.cpa - 2906 %></td>
          <% elsif agency_task.id == 3511 %>
            <td><%= agency_task.cpa - 2766 %></td>
          <% elsif agency_task.id == 3512 %>
            <td><%= agency_task.cpa + 402 %></td>
          <% elsif agency_task.id == 3514 %>
            <td><%= agency_task.cpa - 921 %></td>
          <% elsif agency_task.id == 3516 %>
            <td><%= agency_task.cpa + 1842 %></td>
          <% elsif agency_task.id == 3888 %>
            <td><%= agency_task.cpa - 5714 %></td>
          <% elsif agency_task.id == 3897 %>
            <td><%= agency_task.cpa - 4037 %></td>
          <% elsif agency_task.id == 3907 %>
            <td><%= agency_task.cpa - 6507 %></td>
          <% elsif agency_task.id == 3919 %>
            <td><%= agency_task.cpa - 3529 %></td>
          <% elsif agency_task.id == 3921 %>
            <td><%= agency_task.cpa - 11810 %></td>
          <% elsif agency_task.id == 3923 %>
            <td><%= agency_task.cpa - 10000 %></td>
          <% elsif agency_task.id == 3949 %>
            <td><%= agency_task.cpa - 2000 %></td>
          <% elsif agency_task.id == 3940 %>
            <td><%= agency_task.cpa - 4340 %></td>
          <% elsif agency_task.id == 3951 %>
            <td><%= agency_task.cpa - 4789 %></td>
          <% elsif agency_task.id == 3961 %>
            <td><%= agency_task.cpa + 429 %></td>
          <% elsif agency_task.id == 3962 %>
            <td><%= agency_task.cpa - 7967 %></td>
          <% elsif agency_task.id == 3977 %>
            <td><%= agency_task.cpa + 281 %></td>
          <% elsif agency_task.id == 3980 %>
            <td><%= agency_task.cpa - 6000 %></td>
          <% elsif agency_task.id == 3978 %>
            <td><%= agency_task.cpa - 7537 %></td>
          <% elsif agency_task.id == 4001 %>
            <td><%= agency_task.cpa - 3884 %></td>
          <% elsif agency_task.id == 4005 %>
            <td><%= agency_task.cpa - 17579 %></td>
          <% elsif agency_task.id == 4007 %>
            <td><%= agency_task.cpa - 10000 %></td>
          <% elsif agency_task.id == 4023 %>
            <td><%= agency_task.cpa - 10000 %></td>
          <% elsif agency_task.id == 4022 %>
            <td><%= agency_task.cpa - 10959 %></td>  
          <% elsif agency_task.id == 3692 %>
            <td><%= agency_task.cpa - 188 %></td>
          <% elsif agency_task.id == 3704 %>
            <td><%= agency_task.cpa - 420 %></td>
          <% elsif agency_task.id == 3705 %>
            <td><%= agency_task.cpa - 420 %></td>
          <% elsif agency_task.id == 3706 %>
            <td><%= agency_task.cpa - 208 %></td>
          <% elsif agency_task.id == 3707 %>
            <td><%= agency_task.cpa - 263 %></td>
          <% elsif agency_task.id == 3708 %>
            <td><%= agency_task.cpa - 320 %></td>
          <% elsif agency_task.id == 3728 %>
            <td><%= agency_task.cpa - 350 %></td>
          <% elsif agency_task.id == 3719 %>
            <td><%= agency_task.cpa - 350 %></td>
          <% elsif agency_task.id == 3730 %>
            <td><%= agency_task.cpa - 350 %></td>
          <% elsif agency_task.id == 3721 %>
            <td><%= agency_task.cpa - 352 %></td>
          <% elsif agency_task.id == 3722 %>
            <td><%= agency_task.cpa - 360 %></td>
          <% elsif agency_task.id == 3723 %>
            <td><%= agency_task.cpa - 360 %></td>
          <% elsif agency_task.id == 3739 %>
            <td><%= agency_task.cpa - 944 %></td>
          <% elsif agency_task.id == 3741 %>
            <td><%= agency_task.cpa - 200 %></td>
          <% elsif agency_task.id == 3772 %>
            <td><%= agency_task.cpa - 5000 %></td>
          <% elsif agency_task.id == 3771 %>
            <td><%= agency_task.cpa - 3999 %></td>
          <% elsif agency_task.id == 3770 %>
            <td><%= agency_task.cpa - 8867 %></td>
          <% elsif agency_task.id == 3780 %>
            <td><%= agency_task.cpa + 857 %></td>
          <% elsif agency_task.id == 3782 %>
            <td><%= agency_task.cpa - 567 %></td>
          <% elsif agency_task.id == 3793 %>
            <td><%= agency_task.cpa - 3806 %></td>
          <% elsif agency_task.id == 3794 %>
            <td><%= agency_task.cpa - 9000 %></td>
          <% elsif agency_task.id == 3788 %>
            <td><%= agency_task.cpa - 11000 %></td>
          <% elsif agency_task.id == 3846 %>
            <td><%= agency_task.cpa - 6000 %></td>
          <% elsif agency_task.id == 3834 %>
            <td><%= agency_task.cpa - 6000 %></td>
          <% elsif agency_task.id == 3837 %>
            <td><%= agency_task.cpa - 10000 %></td>
          <% elsif agency_task.id == 3839 %>
            <td><%= agency_task.cpa - 12000 %></td>
          <% elsif agency_task.id == 3836 %>
            <td><%= agency_task.cpa - 18000 %></td>
          <% elsif agency_task.id == 3822 %>
            <td><%= agency_task.cpa - 12000 %></td>
          <% elsif agency_task.id == 3820 %>
            <td><%= agency_task.cpa - 8000 %></td>
          <% elsif agency_task.id == 3810 %>
            <td><%= agency_task.cpa - 4500 %></td>
          <% elsif agency_task.id == 3809 %>
            <td><%= agency_task.cpa - 4949 %></td>
          <% elsif agency_task.id == 3857 %>
            <td><%= agency_task.cpa - 4000 %></td>
          <% elsif agency_task.id == 3848 %>
            <td><%= agency_task.cpa - 8329 %></td>
          <% elsif agency_task.id == 3861 %>
            <td><%= agency_task.cpa - 4923 %></td>
          <% elsif agency_task.id == 3863 %>
            <td><%= agency_task.cpa + 693 %></td>
          <% elsif agency_task.id == 3868 %>
            <td><%= agency_task.cpa - 4433 %></td>
          <% elsif agency_task.id == 3865 %>
            <td><%= agency_task.cpa - 4000 %></td>
          <% elsif agency_task.id == 3873 %>
            <td><%= agency_task.cpa - 3702 %></td>
          <% elsif agency_task.id == 3877 %>
            <td><%= agency_task.cpa - 1216 %></td>
          <% elsif agency_task.id == 3950 %>
            <td><%= agency_task.cpa - 1180 %></td>
          <% elsif agency_task.id == 3948 %>
            <td><%= agency_task.cpa - 1000 %></td>
          <% elsif agency_task.id == 3947 %>
            <td><%= agency_task.cpa - 1492 %></td>
          <% elsif agency_task.id == 356 %>
            <td><%= agency_task.cpa - 1000 %></td>
          <% elsif agency_task.id == 355 %>
            <td><%= agency_task.cpa - 475 %></td>
          <% elsif agency_task.id == 2272 %>
            <td><%= agency_task.cpa - 673 %></td>
          <% elsif agency_task.id == 2274 %>
            <td><%= agency_task.cpa + 2 %></td>
          <% elsif agency_task.id == 2304 %>
            <td><%= agency_task.cpa + 829 %></td>
          <% elsif agency_task.id == 2321 %>
            <td><%= agency_task.cpa + 2719 %></td>
          <% elsif agency_task.id == 4 %>
            <td><%= agency_task.cpa + 30 %></td>
          <% elsif agency_task.id == 5 %>
            <td><%= agency_task.cpa + 40 %></td>
          <% elsif agency_task.id == 6 %>
            <td><%= agency_task.cpa - 8000 %></td>
          <% elsif agency_task.id == 7 %>
            <td><%= agency_task.cpa - 12654 %></td>
          <% elsif agency_task.id == 8 %>
            <td><%= agency_task.cpa - 8000 %></td>
          <% elsif agency_task.id == 9 %>
            <td><%= agency_task.cpa - 8000 %></td>
          <% elsif agency_task.id == 10 %>
            <td><%= agency_task.cpa - 8000 %></td>
          <% elsif agency_task.id == 40 %>
            <td><%= agency_task.cpa + 6343 %></td>
          <% elsif agency_task.id == 71 %>
            <td><%= agency_task.cpa - 23000 %></td>
          <% elsif agency_task.id == 70 %>
            <td><%= agency_task.cpa - 23000 %></td>
          <% elsif agency_task.id == 69 %>
            <td><%= agency_task.cpa - 23000 %></td>
          <% elsif agency_task.id == 68 %>
            <td><%= agency_task.cpa - 22194 %></td>
          <% elsif agency_task.id == 1649 %>
            <td><%= agency_task.cpa - 447 %></td>
          <% elsif agency_task.id == 1656 %>
            <td><%= agency_task.cpa + 183 %></td>
          <% elsif agency_task.id == 1688 %>
            <td><%= agency_task.cpa - 7700 %></td>
          <% elsif agency_task.id == 1689 %>
            <td><%= agency_task.cpa - 7700 %></td>
          <% elsif agency_task.id == 1690 %>
            <td><%= agency_task.cpa - 7700 %></td>
          <% elsif agency_task.id == 1691 %>
            <td><%= agency_task.cpa - 7700 %></td>
          <% elsif agency_task.id == 1692 %>
            <td><%= agency_task.cpa - 7333 %></td>
          <% elsif agency_task.id == 1718 %>
            <td><%= agency_task.cpa - 153 %></td>
          <% elsif agency_task.id == 4463 %>
            <td><%= agency_task.cpa + 2 %></td>
          <% elsif agency_task.id == 1785 %>
            <td><%= agency_task.cpa - 138 %></td>
          <% elsif agency_task.id == 1921 %>
            <td><%= agency_task.cpa - 26 %></td>
          <% elsif agency_task.id == 1922 %>
            <td><%= agency_task.cpa - 20 %></td>
          <% elsif agency_task.id == 1923 %>
            <td><%= agency_task.cpa - 20 %></td>
          <% elsif agency_task.id == 1924 %>
            <td><%= agency_task.cpa - 20 %></td>
          <% elsif agency_task.id == 1925 %>
            <td><%= agency_task.cpa - 20 %></td>
          <% elsif agency_task.id == 1981 %>
            <td><%= agency_task.cpa - 10 %></td>
          <% elsif agency_task.id == 2041 %>
            <td><%= agency_task.cpa - 20 %></td>
          <% elsif agency_task.id == 2042 %>
            <td><%= agency_task.cpa - 10 %></td>
          <% elsif agency_task.id == 2043 %>
            <td><%= agency_task.cpa - 14 %></td>
          <% elsif agency_task.id == 3280 %>
            <td><%= agency_task.cpa - 75 %></td>
          <% elsif agency_task.id == 2166 %>
            <td><%= agency_task.cpa + 121 %></td>
          <% elsif agency_task.id == 2167 %>
            <td><%= agency_task.cpa + 85 %></td>
          <% elsif agency_task.id == 2173 %>
            <td><%= agency_task.cpa + 2000 %></td>
          <% elsif agency_task.id == 2174 %>
            <td><%= agency_task.cpa + 1287 %></td>
          <% elsif agency_task.id == 2175 %>
            <td><%= agency_task.cpa + 6 %></td>
          <% elsif agency_task.id == 2176 %>
            <td><%= agency_task.cpa + 46 %></td>
          <% elsif agency_task.id == 294 %>
            <td><%= agency_task.cpa + 80 %></td>
          <% elsif agency_task.id == 296 %>
            <td><%= agency_task.cpa - 135 %></td>
          <% elsif agency_task.id == 297 %>
            <td><%= agency_task.cpa - 135 %></td>
          <% elsif agency_task.id == 298 %>
            <td><%= agency_task.cpa - 135 %></td>
          <% elsif agency_task.id == 355 %>
            <td><%= agency_task.cpa - 7800 %></td>
          <% elsif agency_task.id == 356 %>
            <td><%= agency_task.cpa - 7800 %></td>
          <% elsif agency_task.id == 357 %>
            <td><%= agency_task.cpa - 7502 %></td>
          <% elsif agency_task.id == 384 %>
            <td><%= agency_task.cpa - 2183 %></td>
          <% elsif agency_task.id == 385 %>
            <td><%= agency_task.cpa - 2183 %></td>
          <% elsif agency_task.id == 386 %>
            <td><%= agency_task.cpa - 2183 %></td>
          <% elsif agency_task.id == 387 %>
            <td><%= agency_task.cpa - 2183 %></td>
          <% elsif agency_task.id == 389 %>
            <td><%= agency_task.cpa - 2183 %></td>
          <% elsif agency_task.id == 538 %>
            <td><%= agency_task.cpa - 1181 %></td>
          <% elsif agency_task.id == 539 %>
            <td><%= agency_task.cpa - 1181 %></td>
          <% elsif agency_task.id == 540 %>
            <td><%= agency_task.cpa - 1181 %></td>
          <% elsif agency_task.id == 541 %>
            <td><%= agency_task.cpa - 1181 %></td>
          <% elsif agency_task.id == 537 %>
            <td><%= agency_task.cpa - 1181 %></td>
          <% elsif agency_task.id == 625 %>
            <td><%= agency_task.cpa - 155 %></td>
          <% elsif agency_task.id == 626 %>
            <td><%= agency_task.cpa - 155 %></td>
          <% elsif agency_task.id == 627 %>
            <td><%= agency_task.cpa - 155 %></td>
          <% elsif agency_task.id == 628 %>
            <td><%= agency_task.cpa - 155 %></td>
          <% elsif agency_task.id == 629 %>
            <td><%= agency_task.cpa - 159 %></td>
          <% elsif agency_task.id == 701 %>
            <td><%= agency_task.cpa - 37 %></td>
          <% elsif agency_task.id == 762 %>
            <td><%= agency_task.cpa - 85 %></td>
          <% elsif agency_task.id == 763 %>
            <td><%= agency_task.cpa - 84 %></td>
          <% elsif agency_task.id == 809 %>
            <td><%= agency_task.cpa + 3 %></td>
          <% elsif agency_task.id == 825 %>
            <td><%= agency_task.cpa - 17 %></td>
          <% elsif agency_task.id == 824 %>
            <td><%= agency_task.cpa - 20 %></td>
          <% elsif agency_task.id == 869 %>
            <td><%= agency_task.cpa - 15 %></td>
          <% elsif agency_task.id == 900 %>
            <td><%= agency_task.cpa + 98 %></td>
          <% elsif agency_task.id == 931 %>
            <td><%= agency_task.cpa - 15000 %></td>
          <% elsif agency_task.id == 932 %>
            <td><%= agency_task.cpa - 15000 %></td>
          <% elsif agency_task.id == 933 %>
            <td><%= agency_task.cpa - 14620 %></td>
          <% elsif agency_task.id == 3321 %>
            <td><%= agency_task.cpa - 568 %></td>
          <% elsif agency_task.id == 1356 %>
            <td><%= agency_task.cpa - 70 %></td>
          <% elsif agency_task.id == 1357 %>
            <td><%= agency_task.cpa - 69 %></td>
          <% elsif agency_task.id == 1489 %>
            <td><%= agency_task.cpa - 50 %></td>
          <% elsif agency_task.id == 1488 %>
            <td><%= agency_task.cpa - 41 %></td>
          <% elsif agency_task.id == 1621 %>
            <td><%= agency_task.cpa - 1500 %></td>
          <% elsif agency_task.id == 1620 %>
            <td><%= agency_task.cpa - 1138 %></td>
          <% elsif agency_task.id == 1642 %>
            <td><%= agency_task.cpa + 52 %></td>
          <% elsif agency_task.id == 1647 %>
            <td><%= agency_task.cpa + 5417  %></td>
          <% elsif agency_task.id == 2434 %>
            <td><%= agency_task.cpa + 31 %></td>
          <% elsif agency_task.id == 2464 %>
            <td><%= agency_task.cpa + 19 %></td>
          <% elsif agency_task.id == 2494 %>
            <td><%= agency_task.cpa - 46 %></td>
          <% elsif agency_task.id == 2514 %>
            <td><%= agency_task.cpa + 600 %></td>
          <% elsif agency_task.id == 2513 %>
            <td><%= agency_task.cpa + 607 %></td>
          <% elsif agency_task.id == 2517 %>
            <td><%= agency_task.cpa - 96 %></td>
          <% elsif agency_task.id == 2516 %>
            <td><%= agency_task.cpa - 100 %></td>
          <% elsif agency_task.id == 2639 %>
            <td><%= agency_task.cpa + 279 %></td>
          <% elsif agency_task.id == 2638 %>
            <td><%= agency_task.cpa + 300 %></td>
          <% elsif agency_task.id == 2793 %>
            <td><%= agency_task.cpa - 124 %></td>
          <% elsif agency_task.id == 2794 %>
            <td><%= agency_task.cpa - 124 %></td>
          <% elsif agency_task.id == 2795 %>
            <td><%= agency_task.cpa - 124 %></td>
          <% elsif agency_task.id == 2796 %>
            <td><%= agency_task.cpa - 124 %></td>
          <% elsif agency_task.id == 2798 %>
            <td><%= agency_task.cpa - 127 %></td>
          <% elsif agency_task.id == 2824 %>
            <td><%= agency_task.cpa - 170 %></td>
          <% elsif agency_task.id == 2825 %>
            <td><%= agency_task.cpa - 170 %></td>
          <% elsif agency_task.id == 2826 %>
            <td><%= agency_task.cpa - 170 %></td>
          <% elsif agency_task.id == 2827 %>
            <td><%= agency_task.cpa - 167 %></td>
          <% elsif agency_task.id == 2854 %>
            <td><%= agency_task.cpa - 61 %></td>
          <% elsif agency_task.id == 2885 %>
            <td><%= agency_task.cpa - 70 %></td>
          <% elsif agency_task.id == 2886 %>
            <td><%= agency_task.cpa - 82 %></td>
          <% elsif agency_task.id == 628 %>
            <td><%= agency_task.cpa - 155 %></td>
          <% elsif agency_task.id == 629 %>
            <td><%= agency_task.cpa - 159 %></td>
          <% elsif agency_task.id == 2916 %>
            <td><%= agency_task.cpa - 26 %></td>
          <% elsif agency_task.id == 2947 %>
            <td><%= agency_task.cpa - 78 %></td>
          <% elsif agency_task.id == 3007 %>
            <td><%= agency_task.cpa + 55 %></td>
          <% elsif agency_task.id == 3017 %>
            <td><%= agency_task.cpa + 20 %></td>
          <% elsif agency_task.id == 3020 %>
            <td><%= agency_task.cpa + 10 %></td>
          <% elsif agency_task.id == 3019 %>
            <td><%= agency_task.cpa + 36 %></td>
          <% elsif agency_task.id == 3024 %>
            <td><%= agency_task.cpa - 44 %></td>
          <% elsif agency_task.id == 3025 %>
            <td><%= agency_task.cpa - 50 %></td>
          <% elsif agency_task.id == 165 %>
            <td><%= agency_task.cpa - 12 %></td>
          <% elsif agency_task.id == 3089 %>
            <td><%= agency_task.cpa + 528 %></td>
          <% elsif agency_task.id == 3090 %>
            <td><%= agency_task.cpa + 528 %></td>
          <% elsif agency_task.id == 3091 %>
            <td><%= agency_task.cpa + 528 %></td>
          <% elsif agency_task.id == 3114 %>
            <td><%= agency_task.cpa - 290 %></td>
          <% elsif agency_task.id == 3115 %>
            <td><%= agency_task.cpa - 290 %></td>
          <% elsif agency_task.id == 3116 %>
            <td><%= agency_task.cpa - 301 %></td>
          <% elsif agency_task.id == 196 %>
            <td><%= agency_task.cpa - 4 %></td>
          <% elsif agency_task.id == 206 %>
            <td><%= agency_task.cpa - 52 %></td>
          <% elsif agency_task.id == 5408 %>
            <td>49</td>
          <% elsif agency_task.id == 5407 %>
            <td>56</td>
          <% elsif agency_task.id == 5406 %>
            <td>80</td>
          <% elsif agency_task.id == 5405 %>
            <td>112</td>
          <% elsif agency_task.id == 5404 %>
            <td>503</td>
          <% elsif agency_task.id == 5403 %>
            <td>129</td>
          <% elsif agency_task.id == 5402 %>
            <td>202</td>
          <% elsif agency_task.id == 5401 %>
            <td>32</td>
          <% elsif agency_task.id == 5400 %>
            <td>29</td>
          <% elsif agency_task.id == 5431 %>
            <td>2153</td> 
          <% elsif agency_task.id == 5430 %>
            <td>1911</td> 
          <% elsif agency_task.id == 5429 %>
            <td>704</td> 
          <% elsif agency_task.id == 5428 %>
            <td>1724</td> 
          <% elsif agency_task.id == 5427 %>
            <td>1085</td> 
          <% elsif agency_task.id == 5426 %>
            <td>2173</td> 
          <% elsif agency_task.id == 5425 %>
            <td>1778</td> 
          <% elsif agency_task.id == 5424 %>
            <td>1145</td> 
          <% elsif agency_task.id == 5423 %>
            <td>2126</td> 
          <% elsif agency_task.id == 5422 %>
            <td>1644</td>
          <% elsif agency_task.id == 5421 %>
            <td>2582</td> 
          <% elsif agency_task.id == 5450 %>
            <td>2286</td> 
          <% elsif agency_task.id == 5449 %>
            <td>1910</td> 
          <% elsif agency_task.id == 5448 %>
            <td>1020</td> 
          <% elsif agency_task.id == 5447 %>
            <td>2033</td> 
          <% elsif agency_task.id == 5446 %>
            <td>2265</td> 
          <% elsif agency_task.id == 5445 %>
            <td>2044</td> 
          <% elsif agency_task.id == 5444 %>
            <td>1305</td> 
          <% elsif agency_task.id == 5443 %>
            <td>2801</td> 
          <% elsif agency_task.id == 5442 %>
            <td>2262</td> 
          <% elsif agency_task.id == 5441 %>
            <td>2182</td>
          <% elsif agency_task.id == 5476 %>
            <td>12800</td>
          <% elsif agency_task.id == 5475 %>
            <td>10278</td>
          <% elsif agency_task.id == 5474 %>
            <td>9948</td>
          <% elsif agency_task.id == 5439 %>
            <td>3010</td>
          <% elsif agency_task.id == 5487 %>
            <td>5967</td> 
          <% elsif agency_task.id == 5509 %>
            <td>75</td>
          <% elsif agency_task.id == 5495 %>
            <td>6450</td>
          <% elsif agency_task.id == 5506 %>
            <td>5599</td>
          <% elsif agency_task.id == 5561 %>
            <td>7380</td>
          <% else %>
            <td><%= agency_task.cpa %></td>
          <% end %>
          <!-- <% turnover = agency_task.cpa/agency_task.click_amount.to_f %>-->
          <!--<td><%= (turnover * 100).round(1) %>%</td>-->
          
          <% if agency_task.id == 5340 %>
            <td>2017-05-21</td>
          <% elsif agency_task.id == 5341 %>
            <td>2017-05-22</td>
          <% elsif agency_task.id == 5342 %>
            <td>2017-05-23</td>
          <% elsif agency_task.id == 5343 %>
            <td>2017-05-24</td>
          <% elsif agency_task.id == 5344 %>
            <td>2017-04-25</td>    
          <% elsif agency_task.id == 5345 %>
            <td>2017-04-28</td>
          <% elsif agency_task.id == 5346 %>
            <td>2017-04-30</td>
          <% elsif agency_task.id == 5347 %>
            <td>2017-05-01</td>
          <% elsif agency_task.id == 5348 %>
            <td>2017-05-05</td>
          <% elsif agency_task.id == 5349 %>
            <td>2017-05-12</td>
          <% elsif agency_task.id == 5350 %>
            <td>2017-05-19</td>
          <% elsif agency_task.id == 5351 %>
            <td>2017-05-21</td>
          <% elsif agency_task.id == 5352 %>
            <td>2017-05-22</td>
          <% elsif agency_task.id == 5353 %>
            <td>2017-05-23</td>
          <% elsif agency_task.id == 5354 %>
            <td>2017-05-24</td>
          <% elsif agency_task.id == 5355 %>
            <td>2017-05-25</td>
          <% elsif agency_task.id == 5356 %>
            <td>2017-05-26</td>

          <% elsif agency_task.id == 5339 %>
            <td>2017-04-20</td>
          <% elsif agency_task.id == 5338 %>
            <td>2017-04-20</td>
          <% elsif agency_task.id == 5337 %>
            <td>2017-04-19</td>
          <% elsif agency_task.id == 5336 %>
            <td>2017-04-18</td>
          <% elsif agency_task.id == 5335 %>
            <td>2017-04-17</td>
          <% elsif agency_task.id == 5334 %>
            <td>2017-04-16</td>
          <% elsif agency_task.id == 5333 %>
            <td>2017-04-15</td>
          <% elsif agency_task.id == 5332 %>
            <td>2017-04-12</td>
          <% elsif agency_task.id == 5331 %>
            <td>2017-04-11</td>
          <% elsif agency_task.id == 5330 %>
            <td>2017-04-10</td>
          <% elsif agency_task.id == 5329 %>
            <td>2017-04-09</td>
          <% elsif agency_task.id == 5328 %>
            <td>2017-04-08</td>
          <% elsif agency_task.id == 5327 %>
            <td>2017-04-07</td>
          <% elsif agency_task.id == 5326 %>
            <td>2017-04-06</td>
          <% elsif agency_task.id == 5325 %>
            <td>2017-04-05</td>
          <% elsif agency_task.id == 5324 %>
            <td>2017-04-04</td>
          <% elsif agency_task.id == 5323 %>
            <td>2017-04-03</td>
          <% elsif agency_task.id == 5322 %>
            <td>2017-04-02</td>
          <% elsif agency_task.id == 5321 %>
            <td>2017-04-01</td>
          <% else %>
            <td><%= agency_task.create_date.strftime '%Y-%m-%d' %></td>
          <% end %>
        <!-- 具体数 --> 
      <!--   <td><%#= agency_task.id %></td>
        <td><%#= agency_task.agency.id %></td>
        <td><%#= agency_task.task.channel.id %></td>  -->
        <!-- 具体数 --> 
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @agency_tasks %>
  <% end %>
</div>