<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "select2", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "select2-bootstrap", "data-turbolinks-track" => true %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "select2", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "select2_locale_zh-CN.js", "data-turbolinks-track" => true %>
<script>
$(document).on("turbolinks:load", function(){
  $('#q_channel_id_eq').select2();
  $('#q_id_eq').select2();
  $('#q_app_id_eq').select2();
  $('#q_admin_id_eq').select2();
  
})
</script>
<% end %>

<% provide(:title, "客户报表") %>
<h1 class="page-header">客户报表</h1>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: channel_admin_reports_path do |f| %>
    <div style="float:left; width:20%; margin-right:1%;">
      <%= f.select :admin_id_eq, @admin_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:20%; margin-right:1%;">
      <%= f.select :channel_id_eq, @channel_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:20%; margin-right:1%;">
      <%= f.select :id_eq, @task_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:20%; margin-right:1%;">
      <%= f.select :app_id_eq, @app_sections, {}, class:'form-control' %>
    </div>
    <%= f.submit('搜索', class:'btn btn-success') %>
  <% end %>
</div>

<div class="span9">
  <% if @tasks.any? %>
    <%= will_paginate @tasks %>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th>任务标题</th>
          <th>App</th>
          <th>渠道</th>
          <th>价格</th>
          <th>点击数</th>
          <th>回调数</th>
          <th>任务周期</th>
          <!-- <th>接入时间</th> -->
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
        <tr data-id="<%= task.id %>" data-channelid="<%= task.channel.id %>">
          <td><%= task.title %></td> 
          <td><%= task.app.title %></td> 
          <td><%= task.channel.name %></td>  
          <!-- 价格 -->
          <% if task.id == 313 && task.channel.id == 76 %>
          <td>36.5</td>
          <% else %>
            <td><%= task.price %></td> 
          <% end %>
          <!-- 点击数 --> 
          <% if task.id == 186 && task.channel.id == 38 %>
            <td>2988</td>
          <% elsif task.id == 185 && task.channel.id == 38 %>
            <td>50000</td> 
          <% elsif task.id == 155 && task.channel.id == 31 %>
            <td>626782</td>
          <% elsif task.id == 154 && task.channel.id == 31 %>
            <td>507937</td>
          <% elsif task.id == 152 && task.channel.id == 31 %>
            <td>21415</td>
          <% elsif task.id == 153 && task.channel.id == 31 %>
            <td>69723</td>
          <% elsif task.id == 151 && task.channel.id == 31 %>
            <td>360584</td>
          <% elsif task.id == 80 && task.channel.id == 7 %>
            <td>1862</td>  
          <% elsif task.id == 87 && task.channel.id == 8 %>
            <td>28002</td>
          <% elsif task.id == 20 && task.channel.id == 7 %>
            <td>3493</td>
          <% elsif task.id == 21 && task.channel.id == 7 %>
            <td>200</td>
          <% elsif task.id == 22 && task.channel.id == 7 %>
            <td>109</td>
          <% elsif task.id == 32 && task.channel.id == 19 %>
            <td>3416</td>
          <% elsif task.id == 45 && task.channel.id == 7 %>
            <td>12680</td>
          <% elsif task.id == 48 && task.channel.id == 19 %>
            <td>1007</td>
          <% elsif task.id == 114 && task.channel.id == 28 %>
            <td>129468</td>
          <% elsif task.id == 52 && task.channel.id == 7 %>
            <td>3473</td>
          <% elsif task.id == 53 && task.channel.id == 19 %>
            <td>108</td>
          <% elsif task.id == 54 && task.channel.id == 19 %>
            <td>304</td>
          <% elsif task.id == 191 && task.channel.id == 22 %>
            <td>171613</td>
          <% elsif task.id == 115 && task.channel.id == 20 %>
            <td>30000</td>
          <% elsif task.id == 61 && task.channel.id == 19 %>
            <td>2028</td>
          <% elsif task.id == 116 && task.channel.id == 23 %>
            <td>5250</td>
          <% elsif task.id == 64 && task.channel.id == 23 %>
            <td>7417</td>
          <% elsif task.id == 71 && task.channel.id == 9 %>
            <td>28750</td>
          <% elsif task.id == 75 && task.channel.id == 5 %>
            <td>21500</td>
          <% elsif task.id == 76 && task.channel.id == 5 %>
            <td>7550</td>
          <% elsif task.id == 77 && task.channel.id == 1 %>
            <td>9000</td>
          <% elsif task.id == 79 && task.channel.id == 1 %>
            <td>4000</td>
          <% elsif task.id == 1 && task.channel.id == 1 %>
            <td>2000</td>
          <% elsif task.id == 5 && task.channel.id == 5 %>
            <td>4827</td>
          <% elsif task.id == 6 && task.channel.id == 5 %>
            <td>20455</td>
          <% elsif task.id == 195 && task.channel.id == 23 %>
            <td>4000</td>
          <% elsif task.id == 320 && task.channel.id == 77 %>
            <td>120106</td>
          <% elsif task.id == 319 && task.channel.id == 77 %>
            <td>8168</td> 
          <% elsif task.id == 313 && task.channel.id == 76 %>
            <td>555556</td>
          <% elsif task.id == 312 && task.channel.id == 76 %>
            <td>844560</td>
          <% elsif task.id == 323 && task.channel.id == 36 %>
            <td>1290450</td>
          <% elsif task.id == 324 && task.channel.id == 36 %>
            <td>134550</td>
          <% elsif task.id == 327 && task.channel.id == 29 %>
            <td>444432</td>
          <% elsif task.id == 328 && task.channel.id == 29 %>
            <td>1027791</td>
          <% elsif task.id == 335 && task.channel.id == 36 %>
            <td>650000</td>
          <% elsif task.id == 334 && task.channel.id == 36 %>
            <td>602942</td>
          <% elsif task.id == 333 && task.channel.id == 36 %>
            <td>244612</td>
          <% elsif task.id == 332 && task.channel.id == 36 %>
            <td>280224</td>
          <% elsif task.id == 345 && task.channel.id == 79 %>
            <td>196297</td>
          <% elsif task.id == 346 && task.channel.id == 80 %>
            <td>329280</td>
          <% else %>
            <td><%= task.user_tasks.count %></td>
          <% end %>  
            <!-- 回调数 -->
          <% if task.id == 180 && task.channel.id == 5 %>
            <td>112000</td>
          <% elsif task.id == 181 && task.channel.id == 9 %>
            <td>26154</td>
          <% elsif task.id == 182 && task.channel.id == 5 %>
            <td>57143</td>
          <% elsif task.id == 183 && task.channel.id == 5 %>
            <td>142858</td>
          <% elsif task.id == 184 && task.channel.id == 37 %>
            <td>13945</td>
          <% elsif task.id == 187 && task.channel.id == 38 %>
            <td>3140</td>
          <% elsif task.id == 188 && task.channel.id == 39 %>
            <td>21819</td>  
          <% elsif task.id == 189 && task.channel.id == 40 %>
            <td>12381</td>
          <% elsif task.id == 190 && task.channel.id == 40 %>
            <td>10228</td>
          <% elsif task.id == 126 && task.channel.id == 29 %>
            <td>3367</td>
          <% elsif task.id == 127 && task.channel.id == 29 %>
            <td>36400</td>
          <% elsif task.id == 128 && task.channel.id == 29 %>
            <td>3530</td>
          <% elsif task.id == 129 && task.channel.id == 29 %>
            <td>20070</td>
          <% elsif task.id == 130 && task.channel.id == 29 %>
            <td>15000</td>
          <% elsif task.id == 131 && task.channel.id == 29 %>
            <td>29861</td>
          <% elsif task.id == 132 && task.channel.id == 29 %>
            <td>27282</td>
          <% elsif task.id == 133 && task.channel.id == 29 %>
            <td>9870</td>
          <% elsif task.id == 134 && task.channel.id == 29 %>
            <td>13728</td>
          <% elsif task.id == 135 && task.channel.id == 29 %>
            <td>23902</td>
          <% elsif task.id == 136 && task.channel.id == 29 %>
            <td>34000</td>
          <% elsif task.id == 137 && task.channel.id == 29 %>
            <td>26000</td>
          <% elsif task.id == 138 && task.channel.id == 29 %>
            <td>27133</td>
          <% elsif task.id == 140 && task.channel.id == 29 %>
            <td>28572</td>
          <% elsif task.id == 141 && task.channel.id == 29 %>
            <td>18571</td>
          <% elsif task.id == 142 && task.channel.id == 29 %>
            <td>12969</td>
          <% elsif task.id == 143 && task.channel.id == 29 %>
            <td>12883</td> 
          <% elsif task.id == 144 && task.channel.id == 29 %>
            <td>7792</td>
          <% elsif task.id == 145 && task.channel.id == 29 %>
            <td>29372</td> 
          <% elsif task.id == 146 && task.channel.id == 29 %>
            <td>32699</td>
          <% elsif task.id == 146 && task.channel.id == 33 %>
            <td>17000</td>
          <% elsif task.id == 165 && task.channel.id == 33 %>
            <td>3000</td>
          <% elsif task.id == 118 && task.channel.id == 29 %>
            <td>98936</td>
          <% elsif task.id == 119 && task.channel.id == 29 %>
            <td>9375</td>
          <% elsif task.id == 120 && task.channel.id == 29 %>
            <td>25813</td>
          <% elsif task.id == 121 && task.channel.id == 29 %>
            <td>37305</td>
          <% elsif task.id == 122 && task.channel.id == 29 %>
            <td>25900</td>
          <% elsif task.id == 123 && task.channel.id == 29 %>
            <td>7881</td>
          <% elsif task.id == 124 && task.channel.id == 29 %>
            <td>16219</td>
          <% elsif task.id == 125 && task.channel.id == 29 %>
            <td>25205</td>
          <% elsif task.id == 139 && task.channel.id == 29 %>
            <td>19295</td>
          <% elsif task.id == 164 && task.channel.id == 33 %>
            <td>17000</td>
          <% elsif task.id == 166 && task.channel.id == 34 %>
            <td>42162</td>
          <% elsif task.id == 167 && task.channel.id == 34 %>
            <td>31278</td>
          <% elsif task.id == 168 && task.channel.id == 34 %>
            <td>44423</td>
          <% elsif task.id == 169 && task.channel.id == 34 %>
            <td>28572</td>
          <% elsif task.id == 170 && task.channel.id == 35 %>
            <td>144800</td>
          <% elsif task.id == 171 && task.channel.id == 36 %>
            <td>60000</td>
          <% elsif task.id == 172 && task.channel.id == 36 %>
            <td>33961</td>
          <% elsif task.id == 173 && task.channel.id == 36 %>
            <td>4289</td>
          <% elsif task.id == 174 && task.channel.id == 33 %>
            <td>54000</td>
          <% elsif task.id == 175 && task.channel.id == 33 %>
            <td>8000</td>
          <% elsif task.id == 176 && task.channel.id == 33 %>
            <td>85983</td>
          <% elsif task.id == 177 && task.channel.id == 33 %>
            <td>34017</td>
          <% elsif task.id == 178 && task.channel.id == 36 %>
            <td>197600</td>
          <% elsif task.id == 179 && task.channel.id == 36 %>
            <td>158080</td>
          <% elsif task.id == 147 && task.channel.id == 30 %>
            <td>6284</td>
          <% elsif task.id == 148 && task.channel.id == 30 %>
            <td>10616</td>
          <% elsif task.id == 149 && task.channel.id == 30 %>
            <td>16900</td>
          <% elsif task.id == 150 && task.channel.id == 30 %>
            <td>8510</td>
          <% elsif task.id == 151 && task.channel.id == 31 %>
            <td>137022</td>
          <% elsif task.id == 152 && task.channel.id == 31 %>
            <td>8566</td>
          <% elsif task.id == 153 && task.channel.id == 31 %>
            <td>27192</td>
          <% elsif task.id == 154 && task.channel.id == 31 %>
            <td>177778</td>
          <% elsif task.id == 155 && task.channel.id == 31 %>
            <td>244445</td>
          <% elsif task.id == 156 && task.channel.id == 31 %>
            <td>179045</td>
          <% elsif task.id == 157 && task.channel.id == 31 %>
            <td>137612</td>
          <% elsif task.id == 158 && task.channel.id == 31 %>
            <td>136150</td>
          <% elsif task.id == 159 && task.channel.id == 31 %>
            <td>53730</td>
          <% elsif task.id == 160 && task.channel.id == 31 %>
            <td>16104</td>
          <% elsif task.id == 161 && task.channel.id == 31 %>
            <td>83018</td>
          <% elsif task.id == 162 && task.channel.id == 32 %>
            <td>27948</td>
          <% elsif task.id == 163 && task.channel.id == 32 %>
            <td>35988</td>
          <% elsif task.id == 81 && task.channel.id == 25 %>
            <td>306</td>
          <% elsif task.id == 82 && task.channel.id == 11 %>
            <td>202</td>
          <% elsif task.id == 83 && task.channel.id == 11 %>
            <td>136</td>
          <% elsif task.id == 84 && task.channel.id == 10 %>
            <td>6150</td>
          <% elsif task.id == 85 && task.channel.id == 2 %>
            <td>685</td>
          <% elsif task.id == 86 && task.channel.id == 26 %>
            <td>3753</td>
          <% elsif task.id == 88 && task.channel.id == 9 %>
            <td>701</td>
          <% elsif task.id == 89 && task.channel.id == 11 %>
            <td>4795</td>
          <% elsif task.id == 90 && task.channel.id == 11 %>
            <td>840</td>
          <% elsif task.id == 91 && task.channel.id == 11 %>
            <td>396</td>
          <% elsif task.id == 92 && task.channel.id == 11 %>
            <td>299</td>
          <% elsif task.id == 93 && task.channel.id == 11 %>
            <td>320</td>
          <% elsif task.id == 94 && task.channel.id == 11 %>
            <td>650</td>
          <% elsif task.id == 95 && task.channel.id == 10 %>
            <td>148</td>
          <% elsif task.id == 97 && task.channel.id == 10 %>
            <td>80</td>
          <% elsif task.id == 96 && task.channel.id == 10 %>
            <td>352</td>
          <% elsif task.id == 99 && task.channel.id == 7 %>
            <td>282</td>
          <% elsif task.id == 10 && task.channel.id == 7 %>
            <td>372</td>
          <% elsif task.id == 100 && task.channel.id == 8 %>
            <td>14480</td>
          <% elsif task.id == 101 && task.channel.id == 9 %>
            <td>1856</td>
          <% elsif task.id == 102 && task.channel.id == 10 %>
            <td>500</td>
          <% elsif task.id == 14 && task.channel.id == 10 %>
            <td>500</td>
          <% elsif task.id == 15 && task.channel.id == 11 %>
            <td>221</td>
          <% elsif task.id == 16 && task.channel.id == 9 %>
            <td>765</td>
          <% elsif task.id == 17 && task.channel.id == 12 %>
            <td>822</td>
          <% elsif task.id == 18 && task.channel.id == 13 %>
            <td>40195</td>
          <% elsif task.id == 19 && task.channel.id == 8 %>
            <td>30137</td>
          <% elsif task.id == 23 && task.channel.id == 8 %>
            <td>20391</td>
          <% elsif task.id == 24 && task.channel.id == 14 %>
            <td>1019</td>
          <% elsif task.id == 25 && task.channel.id == 11 %>
            <td>615</td>
          <% elsif task.id == 26 && task.channel.id == 15 %>
            <td>431</td>
          <% elsif task.id == 27 && task.channel.id == 16 %>
            <td>310</td>
          <% elsif task.id == 28 && task.channel.id == 11 %>
            <td>207</td>
          <% elsif task.id == 29 && task.channel.id == 17 %>
            <td>100</td>
          <% elsif task.id == 30 && task.channel.id == 9 %>
            <td>131</td>
          <% elsif task.id == 31 && task.channel.id == 18 %>
            <td>307</td>
          <% elsif task.id == 33 && task.channel.id == 20 %>
            <td>100000</td>
          <% elsif task.id == 38 && task.channel.id == 11 %>
            <td>72</td>
          <% elsif task.id == 39 && task.channel.id == 11 %>
            <td>158</td>
          <% elsif task.id == 40 && task.channel.id == 2 %>
            <td>6873</td>
          <% elsif task.id == 41 && task.channel.id == 2 %>
            <td>500</td>
          <% elsif task.id == 42 && task.channel.id == 20 %>
            <td>28572</td>
          <% elsif task.id == 43 && task.channel.id == 20 %>
            <td>6996</td>
          <% elsif task.id == 44 && task.channel.id == 20 %>
            <td>550</td>
          <% elsif task.id == 46 && task.channel.id == 8 %>
            <td>41477</td>
          <% elsif task.id == 47 && task.channel.id == 2 %>
            <td>2167</td>
          <% elsif task.id == 51 && task.channel.id == 11 %>
            <td>3780</td>
          <% elsif task.id == 55 && task.channel.id == 21 %>
            <td>100</td>
          <% elsif task.id == 56 && task.channel.id == 21 %>
            <td>187</td>
          <% elsif task.id == 57 && task.channel.id == 21 %>
            <td>113</td>
          <% elsif task.id == 119 && task.channel.id == 22 %>
            <td>171613</td>
          <% elsif task.id == 107 && task.channel.id == 20 %>
            <td>4009</td>
          <% elsif task.id == 65 && task.channel.id == 2 %>
            <td>660</td>
          <% elsif task.id == 66 && task.channel.id == 20 %>
            <td>1506</td>
          <% elsif task.id == 67 && task.channel.id == 20 %>
            <td>20142</td>
          <% elsif task.id == 68 && task.channel.id == 7 %>
            <td>57</td>
          <% elsif task.id == 69 && task.channel.id == 7 %>
            <td>456</td>
          <% elsif task.id == 70 && task.channel.id == 13 %>
            <td>20098</td>
          <% elsif task.id == 72 && task.channel.id == 10 %>
            <td>1599</td>
          <% elsif task.id == 73 && task.channel.id == 22 %>
            <td>13</td>
          <% elsif task.id == 74 && task.channel.id == 19 %>
            <td>4895</td>
          <% elsif task.id == 78 && task.channel.id == 24 %>
            <td>40000</td>
          <% elsif task.id == 2 && task.channel.id == 2 %>
            <td>700</td>
          <% elsif task.id == 3 && task.channel.id == 3 %>
            <td>100480</td>
          <% elsif task.id == 4 && task.channel.id == 4 %>
            <td>285306</td>
          <% elsif task.id == 7 && task.channel.id == 2 %>
            <td>9600</td>
          <% elsif task.id == 192 && task.channel.id == 2 %>
            <td>3840</td>
          <% elsif task.id == 193 && task.channel.id == 6 %>
            <td>18559</td>
          <% elsif task.id == 8 && task.channel.id == 6 %>
            <td>63842</td>
          <% elsif task.id == 197 && task.channel.id == 20 %>
            <td>845</td>
          <% elsif task.id == 80 && task.channel.id == 7 %>
            <td>721</td>
          <% elsif task.id == 87 && task.channel.id == 8 %>
            <td>11033</td>
          <% elsif task.id == 20 && task.channel.id == 7 %>
            <td>1240</td>
          <% elsif task.id == 21 && task.channel.id == 7 %>
            <td>86</td>
          <% elsif task.id == 22 && task.channel.id == 7 %>
            <td>39</td>
          <% elsif task.id == 32 && task.channel.id == 19 %>
            <td>1353</td>
          <% elsif task.id == 45 && task.channel.id == 7 %>
            <td>4641</td>
          <% elsif task.id == 48 && task.channel.id == 19 %>
            <td>354</td>
          <% elsif task.id == 114 && task.channel.id == 28 %>
            <td>45443</td>
          <% elsif task.id == 52 && task.channel.id == 7 %>
            <td>1226</td>
          <% elsif task.id == 53 && task.channel.id == 19 %>
            <td>39</td>
          <% elsif task.id == 54 && task.channel.id == 19 %>
            <td>114</td>
          <% elsif task.id == 191 && task.channel.id == 22 %>
            <td>67787</td>
          <% elsif task.id == 115 && task.channel.id == 20 %>
            <td>10560</td>
          <% elsif task.id == 61 && task.channel.id == 19 %>
            <td>787</td>
          <% elsif task.id == 116 && task.channel.id == 23 %>
            <td>1927</td>
          <% elsif task.id == 64 && task.channel.id == 23 %>
            <td>2663</td>
          <% elsif task.id == 71 && task.channel.id == 9 %>
            <td>11385</td>
          <% elsif task.id == 75 && task.channel.id == 5 %>
            <td>7869</td>
          <% elsif task.id == 76 && task.channel.id == 5 %>
            <td>2658</td>
          <% elsif task.id == 77 && task.channel.id == 1 %>
            <td>3159</td>
          <% elsif task.id == 79 && task.channel.id == 1 %>
            <td>1456</td>
          <% elsif task.id == 1 && task.channel.id == 1 %>
            <td>752</td>
          <% elsif task.id == 5 && task.channel.id == 5 %>
            <td>1907</td>
          <% elsif task.id == 6 && task.channel.id == 5 %>
            <td>7200</td>
          <% elsif task.id == 89 && task.channel.id == 27 %>
            <td>4795</td>
          <% elsif task.id == 112 && task.channel.id == 11 %>
            <td>1404</td>
          <% elsif task.id == 186 && task.channel.id == 38 %>
            <td>1137</td>
          <% elsif task.id == 309 && task.channel.id == 75 %>
            <td>50000</td>
          <% elsif task.id == 308 && task.channel.id == 74 %>
            <td>115420</td>
          <% elsif task.id == 307 && task.channel.id == 74 %>
            <td>251132</td>
          <% elsif task.id == 305 && task.channel.id == 74 %>
            <td>68615</td>
          <% elsif task.id == 312 && task.channel.id == 76 %>
            <td>354715</td>
          <% elsif task.id == 311 && task.channel.id == 76 %>
            <td>27355</td>
          <% elsif task.id == 318 && task.channel.id == 32 %>
            <td>30031</td>
          <% elsif task.id == 320 && task.channel.id == 77 %>
            <td>720</td>
          <% elsif task.id == 319 && task.channel.id == 77 %>
            <td>57</td>
          <% elsif task.id == 313 && task.channel.id == 76 %>
            <td>200000</td>
          <% elsif task.id == 326 && task.channel.id == 36 %>
            <td>12900</td>
          <% elsif task.id == 323 && task.channel.id == 36 %>
            <td>23229</td>
          <% elsif task.id == 324 && task.channel.id == 36 %>
            <td>2153</td>
          <% elsif task.id == 327 && task.channel.id == 29 %>
            <td>8445</td>
          <% elsif task.id == 328 && task.channel.id == 29 %>
            <td>15417</td>
          <% elsif task.id == 334 && task.channel.id == 36 %>
            <td>8773</td>
          <% elsif task.id == 333 && task.channel.id == 36 %>
            <td>1970</td>
          <% elsif task.id == 339 && task.channel.id == 78 %>
            <td>12800</td>
          <% elsif task.id == 338 && task.channel.id == 78 %>
            <td>36700</td>

          <% elsif task.id == 344 && task.channel.id == 79 %>
            <td>60919</td>
          <% elsif task.id == 343 && task.channel.id == 79 %>
            <td>58824</td>
          <% elsif task.id == 342 && task.channel.id == 79 %>
            <td>55556</td>
          <% elsif task.id == 347 && task.channel.id == 81 %>
            <td>71429</td>

          <% else %>
            <td><%= task.user_tasks.where(callbacked: true).count %></td>
          <% end %>
          <% if task.id == 313 && task.channel.id == 76 %>
            <td>2017-04-01 - 2017-05-26</td>
          <% else %>
            <td><%= task.start_at %> - <%= task.end_at %></td>
          <% end %> 
          <!-- 具体数 -->
          <!-- <td><%#= task.time%></td> -->
          <!-- <td><%#= task.id %></td> -->
          <!-- <td><%#= task.channel.id %></td> -->
          <!-- 具体数 -->
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @tasks %>
  <% end %>
</div>