<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "select2", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "select2-bootstrap", "data-turbolinks-track" => true %>
  
  <%= stylesheet_link_tag "bootstrap-datetimepicker", "data-turbolinks-track" => true %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "select2", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "select2_locale_zh-CN.js", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "moment", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "moment/zh-cn", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap-datetimepicker", "data-turbolinks-track" => true %>   
<script>
$(document).on("turbolinks:load", function(){
  $('#q_channel_id_eq').select2();
  $('#q_agency_id_eq').select2();
  $('#q_task_id_eq').select2();
  $('#q_app_id_eq').select2();
  $('#q_callbacked_eq').select2();
  $('#q_admin_id_eq').select2();

  $('#q_created_at_gt').datetimepicker({
    format: "YYYY-MM-DD"
    <% if params[:q].present? && params[:q][:created_at_gt].present? %>
    ,
    defaultDate: "<%= DateTime.parse(params[:q][:created_at_gt]).strftime '%Y-%m-%d' %>"
    <% end %>
  });
  
  $('#q_created_at_lt').datetimepicker({
    format: "YYYY-MM-DD"
    <% if params[:q].present? && params[:q][:created_at_lt].present? %>
    ,
    defaultDate: "<%= DateTime.parse(params[:q][:created_at_lt]).strftime '%Y-%m-%d' %>"
    <% end %>
  });
  
  $('#today').click(function(){
    $('#q_created_at_gt').data("DateTimePicker").date("<%= Date.today.strftime '%Y-%m-%d' %>");
    $('#q_created_at_lt').data("DateTimePicker").date("<%= (Date.today + 1.days).strftime '%Y-%m-%d' %>");
  });
  
  $('#yesterday').click(function(){
    $('#q_created_at_gt').data("DateTimePicker").date("<%= (Date.today - 1.days).strftime '%Y-%m-%d' %>");
    $('#q_created_at_lt').data("DateTimePicker").date("<%= Date.today.strftime '%Y-%m-%d' %>");
  });
  
  $('#current_month').click(function(){
    $('#q_created_at_gt').data("DateTimePicker").date("<%= Date.today.at_beginning_of_month.strftime '%Y-%m-%d' %>");
    $('#q_created_at_lt').data("DateTimePicker").date("<%= Date.today.next_month.at_beginning_of_month.strftime '%Y-%m-%d' %>");
  });
  
  $('#last_month').click(function(){
    $('#q_created_at_gt').data("DateTimePicker").date("<%= Date.today.last_month.at_beginning_of_month.strftime '%Y-%m-%d' %>");
    $('#q_created_at_lt').data("DateTimePicker").date("<%= Date.today.at_beginning_of_month.strftime '%Y-%m-%d' %>");
  });



})
</script>
<% end %>

<% provide(:title, "用户报表") %>
<h1 class="page-header">用户报表</h1>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: user_admin_reports_path do |f| %>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :admin_id_eq, @admin_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :channel_id_eq, @channel_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :task_id_eq, @task_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :agency_id_eq, @agency_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; width:16%; margin-right:1%;">
      <%= f.select :app_id_eq, @app_sections, {}, class:'form-control' %>
    </div>
    <div style="float:left; margin-right:1%;">
      <%= f.select :callbacked_eq, [["请选择回调", nil], ["已回调", true], ["未回调", false]], {}, class:'form-control' %>
    </div>
   
    
    <hr style="clear:both"/>
    <div>
      <%= f.search_field :idfa_cont, class:'form-control', placeholder: 'IDFA' %> 

      <%= f.search_field :created_at_gt, class:'form-control', placeholder: '开始时间' %> -
      <%= f.search_field :created_at_lt, class:'form-control', placeholder: '结束时间' %> 
      <%= f.submit('搜索', class:'btn btn-success') %>
      <%= button_tag('当日', class:'btn btn-success', id: 'today') %>
      <%= button_tag('昨日', class:'btn btn-success', id: 'yesterday') %>
      <%= button_tag('当月', class:'btn btn-success', id: 'current_month') %>
      <%= button_tag('昨月', class:'btn btn-success', id: 'last_month') %>
    </div>
  <% end %>
</div>

<div class="span9">
  <% if @user_tasks.any? %>
    <%= will_paginate @user_tasks %>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th>任务标题</th>
          <th>APP</th>
          <th>客户</th>
          <th>渠道</th>
          <th>idfa</th>
          <th>是否回调</th>
          <th>点击时间</th>
        </tr>
      </thead>
      <tbody>
        <% @user_tasks.each do |user_task| %>
        <tr>
          <td><%= user_task.task.title %></td>
          <td><%= user_task.app.title %></td>
          <td><%= user_task.channel.name %></td>
          <td><%= user_task.agency.name %></td>
          <td><%= user_task.idfa %></td>
          <td><%= user_task.callbacked ? '是' : '否' %></td>
          <td><%= user_task.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @user_tasks %>
  <% end %>
</div>