<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"><%= @setting.title if @setting %>系统管理</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "#{@setting.title if @setting}系统管理", admin_path, class: "navbar-brand" %>
    </div>
    <% if current_admin %>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" data-turbolinks='false'>
        <%== main_nav %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_admin.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to('修改密码', edit_admin_registration_path(:admin)) %></li>
            <li class="divider"></li>
            <li><%= link_to('退出', destroy_admin_session_path, :method => :delete) %></li>
          </ul>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</nav>