<!DOCTYPE html>
<html>
<head>
	<title><%= full_title(yield(:title)) %></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => 'reload' %>
	<%= yield(:stylesheet) %>
	<%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => 'reload' %>
	<%= yield(:javascript) %>
	<%= csrf_meta_tags %>
</head>
<body id="<%= "#{controller_name}-#{action_name}" %>">
	<%= render 'admin/layouts/header' %>
	<div class="container-fluid">
		<div class="row">
			<% if current_admin %>
			<%= render 'admin/layouts/sidebar' %>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="row">
					<% flash.each do |key, value| %>
					<% (key == 'notice' || key == 'alert')? key = 'warning': '' %>
					<%= content_tag(:div, value, class: "alert alert-#{key}") %>
					<% end %>
				</div>
				<%= yield %>
				<hr>
				<%= render 'admin/layouts/footer' %>
				<%= debug(params) if Rails.env.development? %>
			</div>
			<% else %>
			<%= yield %>
			<% end %>
		</div>
	</div>

</body>
</html>
