<% provide(:title, "客户列表") %>
<h1 class="page-header">客户列表</h1>

<div class="table-responsive">
  <%= link_to '新增客户', new_admin_channel_path, class: 'btn btn-success' %>
</div>

<div class="well form-inline" style="margin-top:20px">
  <%= search_form_for @q, url: admin_channels_path do |f| %>
    <%= f.label :name_cont, '客户名称' %>
    <%= f.search_field :name_cont, class:'form-control' %> 
    <%= f.submit('搜索', class:'btn btn-success') %>
  <% end %>
</div>

<div class="span9">
  <% if @channels.any? %>
    <%= will_paginate %>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th>客户名称</th>
          <th>客户介绍</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @channels.each do |channel| %>
        <tr>
          <td><%= channel.name %></td>
          <td><%= channel.intro %></td>
          <td>
            <%= link_to '任务接入', new_admin_task_path(channel_id: channel.id), class: 'btn btn-success' %>
            <%= link_to '修改', edit_admin_channel_path(channel), class: 'btn btn-success' %>
            <%= link_to '删除', admin_channel_path(channel), class: 'btn btn-danger', data:{confirm: '确定删除吗?'}, method: :delete %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  <% end %>
</div>