<% provide(:title, '新增客户') %>
<h1 class="page-header">新增客户</h1>

<div class="bs-example">
<%= simple_form_for @channel, url: admin_channels_path, html: {class: 'form'} do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit '新增客户', :class => 'btn btn-success', 'data-disable-with' => '提交中...' %>
<% end %>
</div>
